[2017-07-12 05:09] joefraley opened #1 "request for documentation"
I understand why the webdriver example is just pseudocode, but it would be helpful to see an example with an array buffer or PNGImage instance too in order to better understand the API.

I have yet to get something working:

[code]

Without further examples its hard to know whether I'm misunderstanding the API (and how), as opposed to running into an edge case / experiencing a bug.

[2017-07-12 15:46] anescobar1991 commented on #1
Hey good callout on the documentation needing some clarification!

Using fs should work:
[code]

[2017-07-30 18:58] anescobar1991 opened #3 "Implement obsolete snapshot functionality"
When I remove a test that is asserting using `toMatchImageSnapshot()` I should get an obsolete snapshot warning next time I run jest.

This should work exactly like jest's `toMatchSnapshot()`

[2017-08-01 02:49] #1 closed

[2017-08-01 13:04] sibelius opened #4 "react-native support?"

[2017-08-01 20:25] jking90 commented on #4
This matcher just checks takes an image, so you just need your tests can generate screenshots of your react-native application to use it.

[2017-08-01 20:25] #4 closed

[2017-08-03 10:07] SaraVieira opened #6 "Documentation on getting up and running"
Hello,

I know you have documentation on how to get the plugin working but when I see this:

[code]

I have no idea what comes behind 😢

Could you guys please add more docs in this part , showing the launchChromeHeadless function and how you implemented it ?

Thank You

[2017-08-03 14:43] anescobar1991 commented on #6
Hi @SaraVieira

jest-image-snapshot's job is to take an image and assert on it. How the image is created is out of scope for this repo but this article may help in getting you set up with an image: https://codeburst.io/automatic-visual-regression-testing-23cc06471dd

In that article [navalia](https://github.com/joelgriffith/navalia) is used to grab images from the browser but you could just as eas

[2017-08-03 14:43] #6 closed

[2017-08-03 14:44] SaraVieira commented on #6
Awesome @anescobar1991 !

Thank you so much for the info

[2017-08-05 20:02] dmitrika commented on #6
@anescobar1991 thank you for info!

I think it's worth to mention such tools in readme, because I also was wondering how can I get screenshot. May I open pr for this?

[2017-08-05 20:46] anescobar1991 commented on #6
Feel free!

[2017-08-10 02:53] anescobar1991 commented on #3
Wouldn't really be able to implement this without making changes to `jest` itself so closing this issue for now.

[2017-08-10 02:53] #3 closed

[2017-08-29 23:41] topherauyeung opened #9 "Test isn't errorring even though there is clearly a diff"
Testing this out in our repo, and the screenshots and the diff get generated correctly, which is great. Here's a screenshot of the diff:

![1](https://cl.ly/3O2X040y0Y0R/Image%202017-08-29%20at%204.40.57%20PM.png)

However - the test passes even though a diff has been generated.

![1](https://cl.ly/3B3d323r402U/Image%202017-08-29%20at%204.40.15%20PM.png)

Here is the test I wrote:
[code]

We're on

[2017-08-30 00:08] anescobar1991 commented on #9
You have the blinkDiff threshold set to 1 which means that there could be up to 100% diff and test would still pass.

[2017-08-30 00:09] topherauyeung commented on #9
According to their documentation, the `thresholdType` is by default pixels. So setting `threshold` to 1 means it should error on a 1 pixel diff.

![1](https://cl.ly/3k2L3v1p323G/Image%202017-08-29%20at%205.09.36%20PM.png)

[2017-08-30 00:10] topherauyeung commented on #9
(and I already tried it without a blinkDiffConfig - it also did not error)

[2017-08-30 00:14] topherauyeung commented on #9
Nope! You're right. It worked with `threshold: 0.01`. Seems like their documentation is incorrect. Thanks!

[2017-08-30 00:14] #9 closed

[2017-08-30 00:31] anescobar1991 commented on #9
@topherauyeung actually you are right about the `blinkDiff` default being pixel. We change it to percent in https://github.com/americanexpress/jest-image-snapshot/blob/master/src/diff-snapshot.js#L55

That should definitely be better documented. Mind opening a PR to document those defaults better?

What does worry me is that you mentioned that without blinkDiffConfig it did not error. I imagine th

[2017-08-30 16:07] topherauyeung commented on #9
Yes - it was because the diff I was testing was smaller. I'll open a PR with some doc suggestions.

[2017-08-30 16:14] topherauyeung commented on #9
https://github.com/americanexpress/jest-image-snapshot/pull/10

[2017-08-30 21:40] phawxby opened #11 "Ability to choose alternative comparison library"
Looking at github commits it appears blink-diff is pretty much dead, no activity in over a year and [this issue](https://github.com/yahoo/blink-diff/issues/39) suggests the author has left Yahoo.

Being able to pick a more modern comparison library while retaining blink-diff as the default would probably make sense.

[Resemble-js](https://www.npmjs.com/package/node-resemble-js) is an option but ag

[2017-08-30 22:11] anescobar1991 commented on #11
That is a very good point, and one that I have already spent some time thinking about.

However the blocker I have with most other libraries is that they need to be able to run [synchronously](https://github.com/facebook/jest/issues/4223) and they should not require any external dependencies like `canvas`.

I would love to be able to use a better maintained library but these are the constraints th

[2017-09-14 06:17] JakeGinnivan commented on #3
Is this still the case? If not we should open an issue on jest linking to this?

[2017-09-15 20:19] anescobar1991 commented on #3
Yeah let me take a look at this sometime next week when I get some time.

[2017-09-27 17:22] epeli opened #13 "Generate HTML report?"
Any plans for this?

I explored if it would have been possible to do via custom jest reporter but it seems that it's not possible to pass custom metadata (name of the diff file) from the `toMatchImageSnapshot` matcher to the reporters :/

[2017-09-27 17:48] anescobar1991 commented on #13
Yes!. We did get a solution for this that we are using internally and will be open sourcing that HTML reporter shortly (new week or so).

[2017-09-27 18:00] epeli commented on #13
Awesome! Can't wait :)

I was already thinking of doing a global map of test names with the match results in the matcher and reading it in a reporter.

I opened an issue on Jest https://github.com/facebook/jest/issues/4547

[2017-09-27 18:02] anescobar1991 commented on #13
Thank you! I will keep this open until I publish the reporter.

[2017-10-10 16:40] ruxiang05 opened #14 "How does it work?"
In the how it works section, I don't understand what image is supposed to be in the following:

`expect(image).toMatchImageSnapshot();`

Is it the name of the image or the path? Does this mean that I have to provide a base image or does the library generate both the base and the comparison image?

[2017-10-10 20:58] rndmerle commented on #14
Hello.

The library don't take care of taking screenshots.
You provide an image data (a loaded image), and you typically aquire this image with a (headless) browser.

For instance, with [Puppeteer](https://github.com/GoogleChrome/puppeteer) (headless Chrome) you can do:
[code]
It can be any other library piloting a browser.

[2017-10-10 22:27] anescobar1991 commented on #14
What @rndmerle is saying is correct. This is no different from jest's `toMatchSnapshot()` in that you provide it the image you want it to store and validate against on subsequent runs.

[2017-10-10 22:27] #14 closed

[2017-10-10 22:28] anescobar1991 commented on #14
@ruxiang05 feel free to open PR supplement the documentation if you find it to not be clear enough.

[2017-10-11 13:56] ruxiang05 commented on #14
@rndmerle I have the image on disk, but I cannot use it the import you mentioned as it says that it's not a module

[2017-10-11 15:53] anescobar1991 commented on #14
@ruxiang05 something like `const image = fs.readFileSync(/path/to/image.png);` should work

[2017-10-12 10:12] ruxiang05 commented on #14
@rndmerle how would puppeteer know what's in my localhost?

[2017-10-13 14:35] phawxby opened #16 "Add option to clean up unnecessary diff output"
We've got 150 or so visual regression tests. If a test passes, the diff isn't really necessary so remove it leaving only problem diffs behind saving the job hunting for the file that matches the failed test.

I considered doing the cleanup within my tests but the diff output path isn't returned in the result.

[2017-10-13 16:03] anescobar1991 commented on #16
Sounds reasonable. I'd accept a PR for the change

[2017-10-19 17:04] anescobar1991 commented on #16
Resolved with https://github.com/americanexpress/jest-image-snapshot/pull/18

[2017-10-19 17:04] #16 closed

[2017-10-24 04:09] anescobar1991 commented on #11
Solved by #19

[2017-10-24 04:09] #11 closed

[2017-10-25 11:10] phawxby opened #21 "Failure threshold needed?"
With the pixelmatch upgrade we've maintained the `threshold` property however it appears they have different meanings between `pixelmatch` and `blink-diff`, the former relating to the per-pixel difference sensitivity and the latter the overall comparison sensitivity.

The difference being that if a single pixel fails in `pixelmatch` the test fails, where as with `blink-diff` we could allow for eit

[2017-10-25 14:45] ruxiang05 opened #22 "Assertion Error"
I am getting an error when running the test for the second time:

`AssertionError [ERR_ASSERTION]: zlib binding closed
uitk-react-example:
uitk-react-example:       at Object.<anonymous>.test (test/visual.spec.js:30:23)
uitk-react-example:           at <anonymous>
uitk-react-example:       at process._tickCallback (internal/process/next_tick.js:169:7)`

This is the test:

[code]

I believe it has

[2017-10-25 15:46] phawxby commented on #22
What version of jest-image-snapshot?

[2017-10-25 15:53] anescobar1991 commented on #22
Probably not the issue but `await` is not needed for the line using `toMatchImageSnapshot()` assertion.

[2017-10-25 16:01] anescobar1991 commented on #21
Yes we might need to do that in addition to documenting in `README` what `threshold` means.

[2017-10-25 16:04] ruxiang05 commented on #22
@phawxby 2.0.0

[2017-10-25 16:16] phawxby commented on #22
Can you create a little sample to recreate the issue? I'm using puppeteer on Windows and I'm having no issues.

[2017-10-25 16:16] phawxby commented on #21
Ok, I'll try and find some time tonight to look at it.

[2017-10-25 16:24] anescobar1991 commented on #21
Sounds good, I think the main thing is providing the option and defining the expectation of what each option does and having a default that makes sense for most people.

[2017-10-26 08:52] ruxiang05 commented on #22
I can't, but I tried version 1.0.1 and it worked.

[2017-10-26 13:52] anescobar1991 commented on #22
@ruxiang05 I will try playing with it today and see if I can find anything but I am unable to replicate as well.

[2017-10-26 16:58] phawxby commented on #22
I wonder if it could be system specific. What node/jest/OS are you using?

[2017-10-27 10:14] phawxby commented on #22
The only Mac I have access to is running High Sierra 10.13. Using Jest 21.2.1 and Node 8.6.0 no issues. Hmmmmm, the plot thickens.

[2017-10-27 18:40] anescobar1991 commented on #21
Resolved with #23

[2017-10-27 18:40] #21 closed

[2017-10-29 09:37] Andarist opened #24 "Update github's repository description"
It still refers to Blink-diff, but you have switched to using pixelmatch

[2017-10-30 16:15] anescobar1991 commented on #24
Fixed. Thanks!

[2017-10-30 16:15] #24 closed

[2017-10-31 14:55] ruxiang05 opened #26 "Diffs returning errors instead of fails"
When there is a diff between the images, the tests throw an error instead of returning a failed test. Is that a normal behaviour or how shall I handle failed test?

[2017-10-31 15:49] anescobar1991 commented on #26
@ruxiang05 can you provide an example or sample repo showing how you are using it and tell me what version you are using? I have not seen that issue. The matcher is supposed to fail the test just the same as any other matcher.

[2017-10-31 16:03] anescobar1991 commented on #26
The issue is that you are unnecessarily using `await` on `toMatchImageSnapshot()` which then turns the assertion into a promise that would need to be handled:

Instead of
`await expect(something).toMatchImageSnapshot();`

You just need to do
`expect(something).toMatchImageSnapshot();`

[2017-10-31 16:03] #26 closed

[2017-10-31 16:06] ruxiang05 commented on #26
Doesn't change anything, tried it.

[2017-10-31 16:23] anescobar1991 commented on #26
It is hard to read your code without it being formatted but it seems to me (from a very quick glance) that you are not handling your async code properly in the test.

Read up on testing asynchronous code in [the jest docs](https://facebook.github.io/jest/docs/en/asynchronous.html). If I have time later I will look into this with more detail but it does not seem to be a `jest-image-snapshot` issue.

[2017-11-08 17:35] cdeutsch commented on #11
After a week of using v2 with pixelmatch, I like blink-diff better.

I've been getting a lot of inconsistent results with pixelmatch. I often run with `0` as the threshold, and it will pickup tiny diffs in one run but not the next.

A side note, it doesn't look like pixelmatch is in active development either (maybe neither really need to be). Last [significant commit to pixelmatch](https://github.

[2017-11-09 21:56] phawxby commented on #11
@cdeutsch do you know of any others comparably fast and in active development?

Also are you able to provide any test cases? The only similar cases I have seen relate to slight font rendering differences between Puppeteer on Windows verses our Linux based CI environment. For that reason I implemented [`failureThreshold` and `failureThresholdType`](https://github.com/americanexpress/jest-image-snap

[2017-11-14 16:01] #22 closed

[2017-11-27 14:43] mattblang opened #28 "How long should the image comparison typically take?"
I have a really basic Jest test that navigates to a screen in our app using [puppeteer](https://github.com/GoogleChrome/puppeteer), takes a screenshot, then uses `toMatchImageSnapshot`. Unfortunately, the test takes about thirty seconds after adding the `toMatchImageSnapshot` matcher. I have another script where I use puppeteer to take two screenshots to compare them with [Resemble](https://github

[2017-11-27 16:00] anescobar1991 commented on #28
I have not seen them take that long. For an 800x600 image typically the comparison takes about 3-4 seconds max when there is a large difference between the 2 images.

What version are you using? There are significant performance improvements between versions 1.x.x and 2.x.x.

And I have noticed as well (but haven't had time to look into) that simple image assertions using both `pixelmatch` and `bl

[2017-11-27 16:33] mattblang commented on #28
@anescobar1991 Great suggestion, I have actually already done a test with Resemble inside of Jest. It absolutely does degrade as well, taking about ten seconds instead of the 3-4 seconds that it takes outside of Jest. The image being used for comparison is `1100 x 2400`. The Jest version is `21.2.1`, and jest-image-snapshot is `2.2.0`.

[2017-11-27 21:18] anescobar1991 commented on #28
Then I believe an issue should be opened against Jest to figure out where the performance degradation may be coming from on their end. Closing this issue as this is an upstream Jest issue.

[2017-11-27 21:18] #28 closed

[2017-11-29 11:08] Naoto-Ida opened #29 "customSnapshotsDir places directory in absolute path"
Hi, awesome extension!

I wanted to mention that if you set the `customSnapshotsDir` to lets say `__screenshots__`,
it will create it as an absolute path, i.e.:

[code]

but what I think we expect is:

[code]

Thanks again!

[2017-11-30 03:16] anescobar1991 commented on #29
Hi thanks!

Is that what the expectation would be? My understanding is that for those who want the ability to customize where snapshots are stored they would like to customize the exact location and as such absolute location is desired. Would some clarification in the `README` be what is needed?

[2017-11-30 08:20] Naoto-Ida commented on #29
True, the current behavior is desired, but checking Jest docs it seems like we can't get the path to the currently running test, making it difficult to specify `src/__tests__/__screenshots__` if we use the example from above.

[2017-11-30 18:20] anescobar1991 commented on #29
Can't you get the current test path with `__filename` or `__dirname`?

[2017-11-30 18:20] anescobar1991 commented on #29
Anyways closing this as it is not a `jest-image-snapshot` issue.

[2017-11-30 18:20] #29 closed

[2017-11-30 18:42] Naoto-Ida commented on #29
True. I can submit a change to the Readme though

[2017-12-04 05:27] Kraxxis opened #31 "Image comparison of snapshots crashes node v9.2.0"
Node v9.2.0 crashes when attempting to use this jest matcher

[code]

After doing some research and investigation, the problem appears to be the [pngjs](https://github.com/lukeapage/pngjs) package and how the package interacts with the internal zlib changes to node.  Open issue tracking is here: https://github.com/lukeapage/pngjs/issues/95

[2017-12-04 14:05] anescobar1991 commented on #31
Thanks for bringing this to my attention. I’ll be tracking the issue on the pngjs package and evaluating if there is anything I can do.

[2017-12-04 20:07] Kraxxis commented on #31
On my project, I am just getting screenshot tests integrated for the first time, so having a blocker like this right when I am getting the test environment set up was very disruptive for me.  I needed to move forward, and I have found a small, temporary work around for now.

I made a local copy of this Jest Matcher in my project, so I could change the `pngjs` dependency to its fork, `pngjs-nozlib`

[2017-12-05 05:29] mattblang commented on #28
@anescobar1991 See the referenced ticket that I made on Jest's repo. I put together a simple test [here](https://github.com/mattblang/jest-image-comparison-perf-repro) that shows writing a file in Jest is painfully slow, which I suspect is causing the `jest-image-snapshot` matcher to be painfully slow.

[2017-12-06 17:07] rsimsek opened #32 "Browser options"
Hey,

I was wondering if this library just works with headlessChrome or is it possible to do testing with different browsers?

[2017-12-06 19:36] anescobar1991 commented on #32
Yes you can generate your image using any tool you choose and then pass it to jest-image-snapshots for comparison. So for different browsers you can use Selenium or something like it to generate the images and then have jest-image-snapshot perform the diffs.

This library simply takes an image, stores it, and then on subsequent runs diffs against the stored image. Works like [Jest snapshots](http:

[2017-12-06 19:36] #32 closed

[2017-12-07 20:03] mattblang commented on #28
@anescobar1991 If you get a chance could you please run the `matcher.spec.js` spec in [this repo](https://github.com/mattblang/jest-image-comparison-perf-repro) that I set up to reproduce the issue and tell me if you experience it as well? I've pinpointed the slowdown to `pngjs` writing the diff file to disk. I've tested across two platforms now, both Windows and macOS, and both times I go from **

[2017-12-08 00:10] anescobar1991 commented on #28
Yes I will play with it tomorrow. I do know there is definite slowness with both `pixelmatch` and `blink-diff` that only occurs for me when running within jest but I will also test out your repo and see if `pngjs` is the culprit for what I've noticed in the past.

I don't have access to a Windows machine but I can confirm with your repo on macOS.

[2017-12-08 18:10] anescobar1991 commented on #28
Alright so I was able to confirm that the slowness only occurs within Jest and that writing to a file is what is hanging when running in Jest as you asserted in https://github.com/facebook/jest/issues/4972#issuecomment-349196063

In fact I modified jest-image-snapshot to not write diffs to a file and the performance issues were 100% gone. I will play around more and make changes to your jest-image

[2017-12-22 09:47] inakianduaga opened #33 "Typescript declaration for Jest module matchers"
For the ones using typescript, would be nice to have typescript understand the augmented jest matcher for `expect(...).toMatchImageSnapshot()`

This should be doable by providing a type definition and doing something similar to what RxJS does with the observable where they augment a given type.

https://www.typescriptlang.org/docs/handbook/declaration-merging.html#module-augmentation

BTW, awesome

[2017-12-22 09:54] inakianduaga commented on #33
I found the answer:

[code]

https://stackoverflow.com/questions/43667085/extending-third-party-module-that-is-globally-exposed

Would you be open to adding a PR for including typescript types?

[2017-12-22 15:28] anescobar1991 commented on #33
@inakianduaga excuse my ignorance on typescript by would it be possible to publish these types in a package separate from this one for usage with this matcher?

[2017-12-22 15:45] jking90 commented on #33
@DefinitelyTyped would be a good home for this. Someone has already [added types there](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/20991) for our [jest-json-schema](https://github.com/americanexpress/jest-json-schema)

[2017-12-22 15:48] inakianduaga commented on #33
@anescobar1991

Actually you want the types that this package is providing **inside** this package, so people don't have to install anything extra to have typescript support. The @DefinitelyTyped way is the old way before Typescript 2.0 where the local type definitions where enabled.

https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

if the package defines a `types` k

[2017-12-22 16:45] anescobar1991 commented on #33
@inakianduaga I see in the [typescript declaration files docs](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) that using the @DefinitelyTyped option is still a valid option so I'd prefer that be done since we don't ourselves use TypeScript and so do not want to have to maintain definitions.

[2017-12-22 16:45] #33 closed

[2017-12-23 16:51] skyiea opened #34 "Question: how to ignore certain areas/elements on the screenshot"
Hi.
I'm considering switching from **gemini** to **puppeteer**+**jest-image-snapshot**.
In most visual regression testing tools there is some kind of `ignoreElements` option, which allows to ignore visual differences in certain page areas. I can't find any way how am I to do that using new stack. I've tried to search for the solution in **puppeteer** (do not include certain areas into the screensh

[2017-12-23 19:19] anescobar1991 commented on #34
Hi @skyiea, yes you are right that such a feature does not exist right now in **puppeteer+jest-image-snapshot** though you could always use `jest-image-snapshot@1.x.x` if that is a feature you would want to use.

Are you looking at ignoring certain areas to minimize brittleness introduced in those areas or is there another reason?

If it is the former then I recommend looking into why that area is

[2017-12-23 20:04] skyiea commented on #34
I assume there were reasons to move away from **blink-diff**. Don't want to migrate my visual testing stack to the obsolete one (depending on the old version of **jest-image-snapshot**).

No, it's not simple brittleness, otherwise I would not simply ignore it :) In my app I have areas that are by design volatile and I want them to be ignored (e.g. time-label).
Thanks, didn't know about `elementHan

[2017-12-23 20:33] anescobar1991 commented on #34
Ah I see!

For the time being we are not planning on making changes to the API and will be focusing on performance improvements instead.

The only thing I can think of off the top of my head that might help you is messing with the diff threshold to account for the volatile areas.

[2017-12-23 20:33] #34 closed

[2017-12-24 12:23] skyiea commented on #34
That would be unacceptable way to deal with it (raising threshold).
A pity such a mandatory thing is not even in the upcoming plans.

[2017-12-26 15:54] adrianmcli commented on #31
@anescobar1991 any news on the progress of this bug? I am trying to deploy visual regression testing with this library, but I don't want to break the team's builds.

[2017-12-28 17:00] anescobar1991 commented on #31
@adrianmcli The only thing that can be done from the Jest-image-snapshot side would be to use a different library than pngjs (maybe using the solution @Kraxxis has) but I need to evaluate our choices first and make sure no regressions are caused by the switch. I’ll do that today.

[2017-12-28 19:31] imcjcurtis opened #35 "Invalid File Signature"
Page.loadEventFired(async () => {
const screenshot = await Page.captureScreenshot({format: 'png'});
expect(screenshot.data).toMatchImageSnapshot();
}

This returns `Invalid File Signature`

I try this with `Chromeless` and it works but I am using `chrome-remote-interface` and after looking at the way `Chromeless` implemented it, it pretty much look's the same, why am I getting this error?

[2017-12-28 21:07] anescobar1991 commented on #35
Hi @imcjcurtis,

Can you provide a link to a simple repo where this can be reproduced? It is hard to say what the issue is from the snippet you provided.

More than likely `screenshot.data` is either `null` or `undefined` but that is all I can guess from the little data on hand.

[2017-12-28 21:56] anescobar1991 commented on #34
@skyiea For now you should be able to do it by modifying the image prior to passing it to `jest-image-snapshot` to block out the area you want to be ignored. Could use [jimp](https://github.com/oliver-moran/jimp) to do so.

The reason I am hesitant to add this feature into the library is that the entire philosophy behind`jest-image-snapshot` is that it does not care what the image is of or where i

[2017-12-29 05:24] imcjcurtis commented on #35
here is what I am trying to accomplish, it spits out base64 and it saves correctly, but then when I feed the base64 to `expect(base64png).toMatchImageSnapshot()` like it says I can in the README.  I get a blank image, any help would be appreciated, thanks.

https://github.com/imcjcurtis/jest-cdp

[2017-12-29 16:29] anescobar1991 commented on #35
@imcjcurtis I got it working in your example! There were a few issues:

1. You are not letting Jest know to wait on the `Page.loadEventFired` callback and so that code would not run unless you added a call to `done()` at the end of that callback. See [the Jest documentation for more detail](http://facebook.github.io/jest/docs/en/asynchronous.html#callbacks)

2. You are passing the raw string to `t

[2017-12-29 16:29] #35 closed

[2017-12-29 16:46] anescobar1991 opened #36 "Add examples"
Would be great to demonstrate basic example usage of this library with:
- [puppeteer](https://github.com/GoogleChrome/puppeteer)
- [chromeless](https://github.com/graphcool/chromeless)
- [Selenium with WebdriverIO for cross browser testing](http://webdriver.io/)

[2017-12-29 19:36] skyiea commented on #34
@anescobar1991 `ignoreRegions` will be useful.

I've managed to "black-out" region with simple cycle over the buffer before snapshot assertion.

Taking a step back and looking at the matter once more, I can agree with you - this might be done elsewhere (with `jimp` or whatever).

BTW, before I understood that I can simply cycle over the buffer I've looked on `jimp`, but didn't find an easy way to

[2017-12-29 20:08] skyiea opened #37 "Where to look for side-by-side difference"
I see that in documentation there is [side-by-side diff](https://github.com/americanexpress/jest-image-snapshot/blob/master/images/image-diff.png) when assertion fails. But the only thing I get is diff image generated into `/__diff_output__`. Where should I look for the err screenshot?

[2017-12-29 20:44] anescobar1991 commented on #37
That diff is what the generated image generated into __diff_output__ looked like when blink-diff was in use. I need to add back that side to side comparison. I agree it is much more useful.

[2017-12-31 11:20] skyiea opened #38 "[Bug] Test hangs for additional ~4s if assertion fails"
In case if screenshots match my test ends in _3s_.
If they don't match - in _7s_.

For some reason test hangs for additional 4 seconds, even though the actual assertion failure occurs earlier.

[2017-12-31 16:30] anescobar1991 commented on #38
That is happening because during the diff image creation is very slow within the Jest environment. That is happening because calls to ‘Math’ are offers of magnitude slower in Jest environment than outside of it in node.

Original issue in Jest tracking it is https://github.com/facebook/jest/issues/4972

[2018-01-02 12:49] eliseumds commented on #14
@ruxiang05 you might have already realised how it all works after months, but it might be helpful for people reading this thread. Usually the pipeline is as follows:

* First tests are run and baseline screenshots are stored in the ` __image_snapshots__` directory
* Subsequent tests are run and new screenshots are compared against the previously-generated ones

For that to work in a continuous int

[2018-01-02 23:36] chrbala commented on #38
Would it be possible to do a side-by-side diff instead? The old image diff generator was much faster iirc, because it didn't generate as substantial of a diff.

It would be nice to be able to disable the complete diff - most of the time I don't need to see an overlay diff.

[2018-01-03 12:15] skyiea commented on #38
@chrbala Here is the issue to track: https://github.com/americanexpress/jest-image-snapshot/issues/37

[2018-01-03 16:55] anescobar1991 commented on #38
@chrbala can you open separate issue for the side to side comparison only mode? Then I will discuss with my team tomorrow.

[2018-01-04 11:45] chrbala opened #39 "Image diffing options"
From discussions on https://github.com/americanexpress/jest-image-snapshot/issues/38, it seems that there are a couple levels of diffing that we need here. This is primarily due to performance.

1. Current image diff output - overlay with changed pixels highlighted in red
2. Side-by-side diff output
3. No image diffing output. There should ideally be an early-exit mode for continuous integration.

[2018-01-07 21:42] anescobar1991 commented on #31
Assuming that `pngjs-nozlib` really does work out of the box with node 9.x.x as @Kraxxis mentions (I have not tried myself) I think the right thing to do here is to open a PR to `pngjs` with the [changes](https://github.com/mikolalysenko/pngjs/commit/92a39a991213d31715f9a8178163b183644b4f87) from `pngjs-nozlib`. It looks like the only thing `pngjs` would lose from that solution is backwards compat

[2018-01-07 21:42] #31 closed

[2018-01-10 22:32] inakianduaga commented on #36
# Puppeteer Example

Uses webpackDevServer to compile code and serve html test page where with compiled code reference. Puppeteer points to that page and renders the content, for which screenshots are rendered. Works fine except that screenshots sometimes differ between runs, not sure why, still investigating

[code]

[2018-01-11 04:34] anescobar1991 commented on #37
FYI I have not forgotten about this. I am working on the PR for this. Should have it ready tomorrow.

[2018-01-11 04:35] anescobar1991 commented on #38
I am working on the PR that should take care of these perf issues. Should be opening it in next few days.

[2018-01-11 04:38] anescobar1991 commented on #39
@chrbala I am working on a PR that resolves the perf issues and makes it so that writing to the file takes just a few hundred milliseconds now. With no perf issues anymore I do not think adding an option to not create diff image is necessary. Basically the output will show the expect image, the diff, and the actual image and I am not sure customizing that adds any value.

Thoughts?

[2018-01-11 04:39] anescobar1991 commented on #28
@mattblang thanks to the repro and the time you spent on following up with this issue I am working on a PR that resolves the performance issues!

[2018-01-11 04:52] chrbala commented on #39
The only case I could see is a codebase with a large number of snapshots that changed all at once, failed and got pushed to CI. It seems fair to call that issue a 'wait and see' and not implement it for now, since it's a corner case.

[2018-01-11 05:04] anescobar1991 commented on #39
Right. Although even in such a case I would argue that you would still want to see the diff in order to make debugging easier.

To enable that what we do internally on CI builds is have Jest report results in HTML using a results formatter we built. On failures the report includes the embedded diff image so that engineers can debut their features easier.

I’m going to close this for now and can re

[2018-01-11 05:04] #39 closed

[2018-01-12 21:54] anescobar1991 commented on #36
Closed with #41

[2018-01-12 21:54] #36 closed

[2018-01-12 21:58] #37 closed

[2018-01-15 19:26] skyiea commented on #38
Just now noticed that I accidentally closed it.

[2018-01-15 19:28] anescobar1991 commented on #38
This should be solved in 2.3.0

[2018-01-15 19:28] #38 closed

[2018-01-15 19:29] anescobar1991 commented on #38
With #39

[2018-02-12 15:42] nickcolley opened #45 "Managing binary files in Git"
Are you committing the snapshots files into Git? Have you run into issues with that?

[2018-02-12 18:22] anescobar1991 commented on #45
Yes, the snapshots themselves are stored in git.

I have not seen it be a problem and if it does become problematic in some repos due to the size of the images or the sheer amount of them then [git lfs](https://git-lfs.github.com/) could be used to manage that.

[2018-02-12 18:35] #45 closed

[2018-02-14 17:01] anescobar1991 commented on #13
@Prior99 @epeli let me give an update on this since it has been awhile:

I know I previously said I would open source a simple html reporter but I decided not too until https://github.com/facebook/jest/issues/4547 is resolved.

What we have internally is an ugly hack I don't wish to open source (think https://github.com/Hargne/jest-html-reporter but with a regex to check for a path to a png image

[2018-02-14 18:11] Prior99 commented on #13
I think we are thinking about different HTML reporters here. I will have a look at the issue and maybe send a pull request if I can find some time on a weekend.

[2018-02-14 18:47] anescobar1991 commented on #13
@Prior99 what are you thinking of then? Do you think it should be its own feature request in another issue?

[2018-02-15 21:26] Prior99 commented on #13
I was thinking of instead of or in addition to generating an image with a
pixel-diff, genering an HTML page with a slider for sidr-by-side comparison
or fading both images.

On Wed, Feb 14, 2018, 19:47 Andres Escobar <notifications@github.com> wrote:

[2018-02-16 06:44] kapooostin opened #46 "Test fails to read a snapshot after the first run, if it is given a JPEG image"
I'm writing a test for a gulp task that adds a text onto a template image. And the source image happened to be in JPEG format.

After the first run the target image is created. A snapshot is also created alright. It is the same JPEG image as a source one. And its extension is changed to `png`. After that everything is broken.

I guess it is somewhat of a misuse of the module. But still it shouldn'

[2018-02-19 09:39] Prior99 opened #47 "Make snapshot tests succeed across platforms"
If the tests are executed on Linux and afterwards OSX, the tests fail, as for example [the font rendering is different across both platforms](https://github.com/GoogleChrome/puppeteer/issues/661).

Is there a way to achieve consistent snapshots across both platforms?

[2018-02-20 23:35] anescobar1991 commented on #46
Yes you are 100% correct that it should error out if not given an image with the `.png` file extension as to not confuse the user.

Do you mind opening a PR to add this?

[2018-02-21 00:07] anescobar1991 commented on #47
You could run your tests within a docker container. Just make sure that the same container is used for build jobs (which may be simple depending on what build system you use).

I am going to close this as it is not an issue with `jest-image-snapshot` itself but let's continue the discussion here though :)

[2018-02-21 00:07] #47 closed

[2018-02-21 04:11] kapooostin commented on #46
OK

[2018-02-24 20:58] dtipson opened #49 ""Image size must match baseline" error"
I'm trying to use this tool to compare a site at two different states using puppeteer's image screenshots.  But due to css and content differences between the two different states, the heights of the full pages will differ. This then prevents the diff from running because the full height of the image files won't be of the same dimensions.

There are a bunch of arbitrary ways to fix this, like clip

[2018-02-24 21:23] cramatt opened #50 "Feature request: 🎨 option to set diff color"
I've opened issue for pixelmatch on https://github.com/mapbox/pixelmatch/issues/36. If addressed it should be a simple matter of updating the dependency 👍

[2018-02-25 22:28] anescobar1991 opened #51 "Output interactive diff"
Would be cool if a failing test result could output an html report with details about the failing snapshot and an interactive diff much like what [bitbucket server provides](https://www.youtube.com/watch?v=7U4dq4slCxY)

[2018-02-25 22:32] anescobar1991 opened #52 "Remove diff output files from previous runs"
Diff output files from previous runs should be removed before each assertion.

That way the user is not confused when a test is passing but there is still a diff output file in the `__diff_output__` directory for said test (from a previous run that was failing).

[2018-02-25 22:33] anescobar1991 commented on #50
👍 Can take care of this if https://github.com/mapbox/pixelmatch/issues/36 is accepted

[2018-02-25 22:33] anescobar1991 commented on #13
@Prior99 opened up https://github.com/americanexpress/jest-image-snapshot/issues/51 for your idea.

[2018-02-25 23:44] theblang commented on #28
@anescobar1991 Hey! I was curious if you ever made any progress on a potential solution after the feedback in https://github.com/facebook/jest/issues/5163?

[2018-02-26 02:41] anescobar1991 commented on #28
Hey! So after that feedback we tried a few different ways to resolve the issue from our side (or from the jest side) but couldn’t figure anything that was reasonable out...

Instead what I resorted to was performing the diff image creation in a different process (one that does not run within the jest sandbox) which did help performance trememdously. This was done in https://github.com/americanexpr

[2018-02-26 16:36] anescobar1991 commented on #49
@dtipson would [this](https://github.com/americanexpress/jest-image-snapshot/pull/42#issuecomment-368563036) help?

[2018-03-01 20:46] anescobar1991 commented on #49
@thomasbertet @sergeybekrin let's discuss here. I definitely see the need now for what you guys are all requesting (now that I understand fully).

[2018-03-01 22:16] thomasbertet commented on #49
I can back @dtipson on this @anescobar1991. This is the exact same thing I would love to have :)

[2018-03-02 22:23] anescobar1991 commented on #49
So in my mind what I am thinking is that we don't throw on size mismatches as is done today, but instead automatically fail the test and then either:

a). fill in the "extra" space on the smaller of the images and then pass it to `pixelmatch` (which would produce a diff image that is pretty meaningless but at least includes both the baseline image and the actual image for human eye comparison).

o

[2018-03-05 09:05] thomasbertet commented on #49
I would be happy with both solutions.
- Option "b" seems less work and less bug prone... so it might be sufficient, but requires more human eye comparison. That's OK for me :)

- Option "a" seems _smarter_ but in a case where the page is different from the top of the image, it won't help much to have a comparison, since everything will be red (as you mentioned) ... but might help a lot if only a b

[2018-03-05 09:25] sergeybekrin commented on #49
Thanks @anescobar1991 for bringing this up. I agree with @thomasbertet on that option "a" would work best, we're using fork with almost same solution and it works super smooth for us.

[2018-03-05 16:27] isilweo commented on #49
in HTML world i don't see option B as usable. Sometimes the images might differ with 1px that comes from some added padding around html element. Human eye won't catch this and in the end we'll have to check differences using some kind of pixel comparison software. So I would be happy with option A.

[2018-03-05 17:19] anescobar1991 commented on #49
@isilweo In cases like that wouldn't you just accept the image (via updating the snapshot) if there is no human determinable difference? Not ideal I know, but I ask because with option A, the diff that is generated will not be meaningful: It will always highlight almost the entire image as being different (as pixel by pixel they _would_ be different which still wouldn't be helpful in your use case

[2018-03-05 17:31] anescobar1991 commented on #52
Closed with https://github.com/americanexpress/jest-image-snapshot/commit/5f974aff18462e69709c623d41e2e634fd9c27c5 (PRd and reviewed internally)

[2018-03-05 17:31] #52 closed

[2018-03-05 17:32] anescobar1991 commented on #13
Closing this as I am not sure this is going to be worked on anytime soon and is really not a `jest-image-snapshot` issue. Can reopen if https://github.com/facebook/jest/issues/4547 makes it in

[2018-03-05 17:32] #13 closed

[2018-03-05 20:41] sergeybekrin commented on #49
@anescobar1991 I would say having at least some diff is really valuable, essentially on CI when it's only way to check what's wrong. And diff wouldn't be always that bad actually since most common use-case is spacing changes. Below is worst case scenario:

![image](https://user-images.githubusercontent.com/9248479/36998488-62e39f8e-20bd-11e8-80b9-c5c18e26134e.png)

[2018-03-05 20:41] isilweo commented on #49
I agree with you that if there is no human determinable difference it shouldn't a problem... but I have some customers who's testers are comparing PSD designs to what they see in browser on pixel to pixel level and I can't do nothing about it....

Maybe it'll be better if I describe my use case a bit more so you will know how we're using it.
Currently we use React Storybook + jest snapshots from r

[2018-03-05 21:42] anescobar1991 commented on #49
@isilweo while that works if the new image is smaller than the baseline image it will not work if the opposite is true as `pixelmatch` will fail to compare and throw a cryptic error message. That is why I throw my own friendly error message instead right now on size differences.

@sergeybekrin on CI you would still have an output image which would show you the baseline image and the actual image s

[2018-03-05 22:18] sergeybekrin commented on #49
@anescobar1991 yeah I got your idea, but that feels inconsistent and could be confusing for users who expects diff. Depending on tools and workflow you use, you might not be able to say what's actually changed in specific commit.

Having just baseline and received images is fine, but diff would save us lots of time. I believe machines should help us to identify problems and point at it to let us f

[2018-03-05 22:56] anescobar1991 commented on #49
@sergeybekrin I agree with you about the confusion which is why we'd have an image with a message specifying that no diff was created because image size was different. We would also modify the assertion message to specify that it failed because the image dimensions were different. Hopefully that messaging helps.

What do you mean by that?

And I agree that the diff helps but what about the cases w

[2018-03-06 01:13] anescobar1991 commented on #49
@sergeybekrin I spent some time investigating today and you are right. I am going to open https://github.com/americanexpress/jest-image-snapshot/pull/42 back up :)

[2018-03-06 16:32] esperancaJS opened #55 "configureToMatchImageSnapshot seems to not take effect"
Currently setting configs like this works:
[code]

But like this does not:
[code]
Seems to just ignore the configs completly

[2018-03-06 16:37] anescobar1991 commented on #55
@esperancaJS https://github.com/americanexpress/jest-image-snapshot/pull/48 is a fix for this. I am not sure if the author or that PR is still working on it so if you don't mind could you open up a PR to add this fix?

[2018-03-09 15:55] oshimayoan commented on #4
Hey @sibelius, did you find any tools to generate screenshots from react-native app?

[2018-03-13 19:13] anescobar1991 commented on #49
Resolved with #42! Will publish in next few days!

[2018-03-13 19:13] #49 closed

[2018-03-13 21:53] anescobar1991 commented on #49
Published as part of [v2.4.0](https://github.com/americanexpress/jest-image-snapshot/releases/tag/v2.4.0)

[2018-03-21 21:20] rodoabad opened #56 "Invalid File Signature"
Hey guys, I'm trying to pinpoint the matter here but whenever I create screenshots from my local and upload them to Git and be used by Jenkins, it's being reported that I have an invalid File Signature.

Curious if this is because of my setup (the way I take screenshots) or my workflow.

[code]

[2018-03-21 21:25] rodoabad commented on #56
Referencing this https://github.com/americanexpress/jest-image-snapshot/issues/35.

[2018-03-21 21:51] anescobar1991 commented on #56
@rodoabad Can you provide a repro? Does it work locally but just not on CI?

[2018-03-21 21:58] rodoabad commented on #56
@anescobar1991 sometimes it happens in local, but for the most part, if it's a new clone I will always get the file signature error.

[2018-03-21 22:11] anescobar1991 commented on #56
Yeah that sounds like an issue with how you are generating the image that is being passed. It does not seem to be reliably producing an image we can process. We can help you find the root cause if you push up a simple repro.

[2018-03-21 22:27] rodoabad commented on #56
@anescobar1991 I'll definitely will. I'll ping you again when I have it setup and ready for you to check out.

[2018-03-21 22:57] rodoabad commented on #56
I have this setup right now, I have to setup Travis (though we use Jenkins at work).

https://github.com/at-scale/mock-e2e-tests

[2018-03-22 16:24] rodoabad commented on #56
Update, I can't seem to replicate it on public GitHub and Travis.

Travis taking snapshots though seem to be a different size compared to local even though they have the same width and height.

[2018-03-22 17:18] rodoabad commented on #56
@anescobar1991 I figured it out! This is probably something to people would miss. But I had my `.gitattributes` file to use `text` as the default. I had to add a rule for `png` file to be left untouched when uploading to GitHub. It works now. But the screenshots are different.

[2018-03-22 17:18] rodoabad commented on #56
![test](https://user-images.githubusercontent.com/1240667/37786651-306bec4e-2dcb-11e8-8dfd-fd472e4a0c22.png)

[2018-03-22 18:53] #56 closed

[2018-03-26 20:14] KatFishSnake opened #57 "Test fails to read a snapshot after the first run, with Selenium node takeScreenshot buffer"
[code]
Hi I have a similar behaviour as #46

- first run good (generates, passes)
- second run throws `Invalid file signature` in regenerator-runtime module

this is my code
[code]
in the selenium [docs](https://seleniumhq.github.io/selenium/docs/api/javascript/module/selenium-webdriver/chrome_exports_Driver.html#takeScreenshot) its explicitly says
[code]
When i manually generate a `.png` file (`u

[2018-03-26 23:11] anescobar1991 commented on #57
This sounds like you are not getting a `png` encoded buffer from Webdriver. Can you validate that it is?

[2018-03-27 17:51] KatFishSnake commented on #57
@anescobar1991 I could not figure out how to validate raw bite stream but to look at the documentation of the selenium driver (everywhere says it suppose to generate a PNG) tho
[code]
fixed it for me, tho it takes 1m to complete which is definitely not ideal

[2018-03-27 17:51] #57 closed

[2018-03-27 17:53] KatFishSnake commented on #57
and btw sorry im blind you already have resolved an issue like that #35
thanks

[2018-03-27 18:44] anescobar1991 commented on #57
@KatFishSnake I don't understand why you would need to do that, I have used it with [WebdriverIO](http://webdriver.io/api/protocol/screenshot.html) with no issues. I assume that WebdriverIO just calls selenium-webdriver?

[2018-03-27 19:20] KatFishSnake commented on #57
@anescobar1991 I assume based on what it says it returns a string `<String>: screenshot The screenshot as a base64 encoded PNG.`

and we need to convert that to buffer for `PNG.sync.read`

[2018-03-27 20:40] anescobar1991 commented on #57
Yeah sorry I actually just noticed that with WebdriverIO we use [saveScreenshot](http://webdriver.io/api/utility/saveScreenshot.html) and don't pass it any arguments:
[code]

[2018-03-28 18:21] 10xLaCroixDrinker opened #59 "Removed snapshots are not cleaned up"
When running `jest` with `-u` flag after removing an image snapshot from a test, the image snapshot file is not deleted.

[2018-03-28 21:26] john-housser opened #60 "How can we obtain diff_output files from a cloud CI environment?"
Hi,

We're very excited about the idea of setting up some new end to end tests with the combo of jest-image-snapshot / jest / puppeteer / Headless Chrome.

We're nearing (what I hope are) the final steps, but the image comparisons are failing in the CI environment (BitBucket Pipelines, but using the same Docker image that we're developing with locally).

I'm trying to figure out how I can get acce

[2018-03-30 20:23] satispunk commented on #59
It seems it also doesn't update existing screenshots? Could it be related?

[2018-03-30 20:38] anescobar1991 commented on #59
@satispunk do you have a repro? I have not seen any issues with it updating screenshots. How are you doing it?

[2018-03-31 00:19] anescobar1991 commented on #60
Yeah I have not had this issue myself but looking through bitbucket pipelines docs [I see that they recommend publishing to s3 like you are suggesting](https://confluence.atlassian.com/bitbucket/publish-and-link-your-build-artifacts-872137736.html).

Something else that may help you is to create an html reporter for Jest that displays image diffs inline for failed tests (we do something like this

[2018-03-31 08:28] satispunk commented on #59
@anescobar1991 seems I was a bit wrong,
Updating screenshot works if you use "jest -u"

but it doesn't work in watch mode (in interactive menu), it doesn't have an option to update tests if toMatchImageSnapshot is failed. Will it be supported? The big advantage of this is possibility to update snapshots partially

[2018-03-31 15:03] anescobar1991 commented on #59
@satispunk yeah I can see that being useful. Can you open an issue for that feature request?

I can’t guarantee it is possible because I am not sure Jest exposes utils for reacting to those actions during watch mode but I can certainly look into it!

[2018-03-31 15:28] satispunk opened #61 "It is not possible to update screenshots in interactive mode"
There is no option to update screenshots for failing tests, which makes hard to update screenshots partially

[2018-03-31 15:36] satispunk opened #62 "customSnapshotsDir as function"
Would be good to have customSnapshotsDir specified as function
[code]
so it is possible to generated path on the fly depending on testName, testPath and env variables

Use cases:
1. Keep test folder structure in images folder. (I guess this can be even a separate option like "keepFolderStructure")
2. Possible to use env variables, the same tests may produce different screenshots depending on env.

[2018-03-31 23:50] sidferreira opened #63 "Error: expect() argument is invalid, got object"
Any suggestion where to start debugging?

[code]
Image variable output:
[code]
Packages:
[code]

[2018-04-01 00:01] anescobar1991 commented on #63
How did you set up the toMatchImageSnapshot? I am asking because that error is coming from Jest it looks like.

[2018-04-01 00:03] sidferreira commented on #63
inside the script set in `setupTestFrameworkScriptFile`.

Added `import { toMatchImageSnapshot } from 'jest-image-snapshot'` and `expect.extend({ toMatchImageSnapshot })`.

But not inside of `beforeAll` or something

@anescobar1991

[2018-04-01 00:15] anescobar1991 commented on #63
No you shouldn’t have to... that looks right.

Can you confirm that Jest extended toMatchImageSnapshot correctly? I believe printing “this” inside of a test case should give you access to that.

Are you sure that your setupTestFrameworkFile is being used by Jest? Just to debug can you setup the mat her inside your test suite file?

[2018-04-01 00:17] sidferreira commented on #63
`Are you sure that your setupTestFrameworkFile is being used by Jest? Just to debug can you setup the mat her inside your test suite file?`
Yup, there are other setups there.
Checking `this`

[2018-04-01 00:26] sidferreira commented on #63
node: v8.9.4

[2018-04-01 01:31] anescobar1991 commented on #63
Odd. I’ve never used detox before so I’m not sure what it could be doing but try without detox to see if the issue persists - just to help debug.

Might as well try it out without jasmine-fail-fast as well.

And could you push up a repro for me to help debug with? Because based on the information you sent I can’t see anything wrong at all.

[2018-04-01 01:34] sidferreira commented on #63
@anescobar1991 it was Detox! My workaround: `import jestExpect from 'expect'` and then `jestExpect(image).toMatchImageSnapshot(image)`.
Just to be sure: Is there a limit of snapshots I can take in one test?

[2018-04-01 01:36] #63 closed

[2018-04-01 01:41] anescobar1991 commented on #63
Nope no limit :) just like normal jest snapshots!

And that’s weird about detox! You may want to open an issue against Jest for that.

[2018-04-01 01:43] sidferreira commented on #63
@anescobar1991 Actually Detox override Jest's Expect as it uses React Elements as the parameter.

[2018-04-01 18:49] anescobar1991 opened #64 "(feature request): Prevent snapshots from being written if ran on CI server"
Behavior should match Jest snapshots.

[2018-04-01 18:56] anescobar1991 commented on #59
@10xLaCroixDrinker after digging through the Jest source code I believe there I've found a clean way to do this. Will try my hand at it next week.

[2018-04-01 18:58] anescobar1991 opened #65 "Add examples badge to README"

[2018-04-02 02:00] tiriel729 opened #66 "pngjs error"
some error is happend when i followed [guide](https://github.com/americanexpress/jest-image-snapshot/blob/HEAD/examples/README.md).
i searched manything, and i know that it is error from pngjs
<img width="1110" alt="2018-04-02 10 55 00" src="https://user-images.githubusercontent.com/32916411/38180034-56050c5a-3664-11e8-901f-a705f4a03e10.png">
https://github.com/akabekobeko/npm-icon-gen/issues/82

[2018-04-02 03:19] anescobar1991 commented on #66
Pngjs does not work on node 9. There is nothing that can be done from our side until they fix that compatibility issue, I already tried 😕

Closing as this is not an issue with jest-image-snapshot but rather with a downstream dependency. Only workaround for now is to use node 8 (node 9 is not a stable release yet anyways).

[2018-04-02 03:19] #66 closed

[2018-04-05 14:51] fringd commented on #64
added PR #67 hopefully it goes through

[2018-04-09 07:42] udiedrichsen opened #68 "Assertion `Buffer::HasInstance(args[4])' failed when using puppeteer"
See:
https://github.com/GoogleChrome/puppeteer/issues/2042

jest-image-snapshot version 1.0.1 works without this problem.
All 2.x versions have this issue.

[2018-04-09 14:48] PixnBits commented on #68
From [GoogleChrome/puppeteer#2042](https://github.com/GoogleChrome/puppeteer/issues/2042)  this looks like an issue running in nodejs v9, did you also [encounter this in node v8](https://github.com/GoogleChrome/puppeteer/issues/2042#comment-377244873)?

[2018-04-09 15:55] anescobar1991 commented on #68
@udiedrichsen see https://github.com/americanexpress/jest-image-snapshot/issues/31

There are issues when running with node 9 due to [pngjs not being compatible](https://github.com/lukeapage/pngjs/issues/105). Closing this issue as there is nothing that can be done from our end.

[2018-04-09 18:48] ColCh opened #69 "Do not create images automatically"
Add option to fail if control image is not existing.

Why? We really don't want to *fail silently* if there is no screenshot created for story, in some cases. For example, when running on CI

[2018-04-09 18:51] ColCh commented on #69
AFAIK, there is a variable on many CI servers: `CI` with value `true`

[2018-04-09 19:28] ColCh commented on #64
Oh ... I missed this issue in #69 :(

[2018-04-09 19:29] ColCh commented on #69
Closing since it's a dupe

[2018-04-09 19:29] #69 closed

[2018-04-10 05:41] Schnueggel commented on #68
@anescobar1991 does it not look as if you have a broken dependency in your project? pngjs is not actively maintained  anymore? So I wonder if closing this issue is the right step

[2018-04-10 16:33] anescobar1991 commented on #68
@Schnueggel the issue I have is that the "solution" at this point would be to switch to pngjs-nozlib but I am reluctant to do so since there is no guarantee of that library being maintained as [I mentioned in a previous issue](https://github.com/americanexpress/jest-image-snapshot/issues/31#issuecomment-355855095).

With node 10 being LTS in few months (October) though I may have to find an altern

[2018-04-10 23:49] KaySackey commented on #68
As commented on PNGJS, the creator doesn't do active maintenance anymore, and only accepts pull requests, so I am not sure that staying with that library is the right solution either.

A possible solution would be allowing users to choose their own image-comparison library, so even if the default solution is no longer valid on their platform, they can simply plug in a working one rather than havin

[2018-04-11 07:46] Schnueggel commented on #68
@anescobar1991 Right now I forked jest-image-snapshot and replaced pngjs with pngjs-nozlib as a quick solution. But pngjs-nozlib seems not to be maintained at all.

A solution could be to make a pull request to pngjs and fix the problem. I took a quick look. But I think I would need some time to find the problem and fix it. I am not sure if I want to spent the time on a project that is not maintai

[2018-04-11 15:50] john-housser commented on #60
Hi Andres, yeah we've ended up creating a custom reporter that uses the aws-sdk npm package to, if there are files in the `__diff_output__` folder, put them in an S3 bucket corresponding to the branch/build.

I'll try to put up a Gist or package with some of our notes once we have it a bit more polished.

[2018-04-11 17:37] anescobar1991 commented on #68
@Schnueggel Yeah its tough as there are no `png` libraries that are well maintained and tested for node (at least that I could find). If anyone knows of any viable alternatives let me know. This is obviously going to affect a lot more libraries than just mine as `pngjs` seems to be the main `png` library for node.

[2018-04-13 21:51] alololox opened #71 "Test failing despite 0% Difference and 0 Differing Pixels"
Hi,

I'm running the following test:

[code]

where the pageHelper.screenshotTest() function is...

[code]
And am seeing tests fail with this result:

Full error:

[code]

[2018-04-14 02:02] anescobar1991 commented on #71
Can you provide a repro please?

[2018-04-16 19:41] #71 closed

[2018-04-17 03:04] anescobar1991 commented on #64
Resolved with #67 :)

[2018-04-17 03:04] #64 closed

[2018-04-23 20:03] dmk255 opened #73 "Converting circular structure to JSON"
Hello!

I'm receiving the error `TypeError: Converting circular structure to JSON` when attempting to diff images in the following versions:
* 2.4.0
* 2.3.0

I do not receive this error in the following versions:
* 1.0.0
* 1.0.1

Additional testing parameters:
 * all versions work with `node:8.9`
 * Versions 2.4 & 2.3 fail with `node:9.11.1` and `node:9.2.1`

Full Error
[code]

[2018-04-23 21:07] anescobar1991 commented on #73
Hi @dmk255 this issue will be resolved once https://github.com/americanexpress/jest-image-snapshot/pull/72 is merged!

[2018-04-24 15:42] anescobar1991 commented on #73
Closed with #72

[2018-04-24 15:42] #73 closed

[2018-04-24 15:43] anescobar1991 commented on #68
closed with #72

[2018-04-24 15:43] #68 closed

[2018-04-30 14:20] marcus-blaettermann-ventoro opened #74 "Only update image snapshots with failing tests"
Some of my images have minor differences (sometimes just 1 RGB value being off by 1, most of the time some anti aliasing stuff). For that reason I set the thresholds accordingly, so that this wouldn`t fail my tests. This works fine.

But if I have an expected images difference and I run `jest --update` all the images get update, even those with minor differences below the threshold. This leads to

[2018-04-30 15:57] anescobar1991 commented on #74
This is intended behavior. Although I agree it is annoying so let me see what I can do to fix that.

[2018-05-03 19:10] anescobar1991 commented on #74
@marcus-blaettermann-ventoro It is not possible today, but I can see if it is possible to implement and make that the default behaviour.

[2018-05-09 16:01] Jack89ita commented on #59
Hey @anescobar1991 , have you got any news about this? i'm having the same problem, when i update the test with the '-u' param the tests are updated correctly, but the old failing test is not deleted.
Thank you!

[2018-05-10 05:34] asifamingov opened #75 "Compare from different domains ?"
We are looking for a tool to compare **staging and prod**. Is it possible to compare from different domains?

[2018-05-10 17:03] anescobar1991 commented on #75
The way jest-image-snapshot works is that you provide it with an image and then the first time a test is run it stores it. On subsequent runs it will compare the image you provide against the stored snapshot and fail if it does not match.

So that being said jest-image-snapshot does not know anything about domains, it only sees the image you provide it, so whether it is possible to compare images

[2018-05-10 17:03] #75 closed

[2018-05-10 17:06] anescobar1991 commented on #59
@Jack89ita I got busy and did not have time to look into this like I thought I would :(

[2018-05-14 19:47] dbkaplun opened #76 "Feature: document which image formats are supported"
Hello,

Thanks for making such an excellent library! It would be great if the supported image formats were documented. I can see from the screencast that PNG files are supported. Is there anything else?

It would be great if SVG files were supported as well!

Thanks for considering!

[2018-05-15 03:05] anescobar1991 commented on #76
Only PNG is supported as of now... as for documenting it would you like to open a PR?

[2018-05-17 16:35] nadgerz opened #79 "npm test error, running against the examples"
After following the instructions for the examples:

git clone https://github.com/americanexpress/jest-image-snapshot.git
cd jest-image-snapshot/examples
npm install
npm test

I get the following error with 'npm test', even though the file does appear to exist:

$ ls -alt node_modules/lodash/kebabCase.js
-rw-r--r--  1 si  wheel  659 Oct 26  1985 node_modules/lodash/kebabCase.js

[code]

[2018-05-18 04:02] anescobar1991 commented on #65
Closing as I am not sure how useful this would be after more thought.

[2018-05-18 04:02] #65 closed

[2018-05-18 06:12] bochen2014 opened #80 "why is it tied up to jest?"
It seems to me that this tool can only be used inside jest, but I'm not sure why it's designed this way.

My understanding is that it's an image comparing tool,  where it takes in an image as parameter
1. if base image not found,  set it as baseline and save to a designated folder
2. if base image found,  comparing it with base image; if not match, throw exceptions

the image can be provided in ma

[2018-05-18 15:54] anescobar1991 commented on #80
This is tied to Jest because it is an extension of Jest's snapshot functionality.

There are tons of others visual regression tools that can be used if you are not using Jest but this one is designed to work exactly like a [Jest snapshot](https://facebook.github.io/jest/docs/en/snapshot-testing.html) in order to serve Jest users who want the simplicity that Jest snapshots provide.

At this point I

[2018-05-18 15:54] #80 closed

[2018-05-18 17:03] anescobar1991 commented on #79
Hi @nadgerz you are right sorry about the inconvenience!

The issue is that it assumes that you have ran `npm install` in the project root as well which brings in all the deps that `jest-image-snapshot` requires. I have a fix that is going through reviews internally but should land later today.

[2018-05-18 22:54] anescobar1991 commented on #79
Fixed by https://github.com/americanexpress/jest-image-snapshot/commit/1a20fa04a7ae7e8c56307cfd0fa1732b4a1597b2 that was reviewed internally

[2018-05-18 22:54] #79 closed

[2018-05-19 00:12] bochen2014 commented on #80
Thanks for your reply.

Can you elaborate on how you use jest as test runner in selenium? Are you use told like  jest-webdriver ?
https://github.com/alexeyraspopov/jest-webdriver

[2018-05-19 01:59] anescobar1991 commented on #80
You could use something like that, but don't necessarily have to. At the end of the day Jest is simply a test runner so you could use something like [WebdriverIO](http://webdriver.io/) (just another JS selenium client) within Jest as it is just code:

[code]

[2018-05-25 14:17] mojicaj commented on #60
Hi @john-housser.  Just wanted to see how your solution worked out and if you posted a gist yet.  I'm having the same issue in Gitlab and can't seem to get the diff files saved as artifacts.

[2018-05-25 17:01] john-housser commented on #60
Hi @mojicaj , I've just pasted it up here:
https://gist.github.com/john-housser/9a9d2e50bb5217cc2f136e874bb613ac

[2018-05-26 16:17] #76 closed

[2018-05-26 16:17] anescobar1991 commented on #76
Closing as this is documented in the README

[2018-05-26 16:19] anescobar1991 commented on #60
@john-housser it may be helpful to have a recipes section in the README where we can add this example in and I can add others as well. Do you want to start on a PR for that?

[2018-05-29 03:49] anescobar1991 commented on #55
Closed internally with cb529963b7f00c6c1be2a43bf4a7a815e611a0f0, will be in next published version!

[2018-05-29 03:49] #55 closed

[2018-05-29 03:50] anescobar1991 commented on #50
@cramatt I am going to close this for now as there is nothing that can be done from our side for now. Feel free to reopen once mapbox/pixelmatch#36 is implemented.

[2018-05-29 03:50] #50 closed

[2018-05-29 13:53] mojicaj commented on #60
Thank you John.

[2018-06-07 02:56] #61 closed

[2018-06-07 02:56] #60 closed

[2018-06-07 14:44] phawxby opened #83 "hasSizeMismatch auto-failure should be made optional"
We develop on windows but visual regression runs on Linux. The the most-part this is fine, however every now and then we find a component might render 1px bigger or smaller in terms of crop, it's otherwise identical.

https://github.com/americanexpress/jest-image-snapshot/blob/master/src/diff-snapshot.js#L130

![image](https://user-images.githubusercontent.com/1090602/41107180-af5b6806-6a69-11e8-8

[2018-06-10 16:14] anescobar1991 commented on #83
So you're proposing a flag to disable that behavior? I wouldn't be opposed to that.

In terms of your issue at hand have you tried running the tests inside a docker container? That is what we do to prevent differences between operating systems. I believe [CodeSandbox](https://hackernoon.com/how-codesandbox-uses-puppeteer-jest-to-test-sandbox-functionality-17068b3bd23b) does that same thing.

[2018-06-15 02:31] anescobar1991 commented on #28
@bfirsh I'd be interested in seeing a comparison with running a diff using `jest-image-snapshot` and with just using `pixelmatch` by itself outside of jest and see if the performance issue is introduced by us or is there with `pixelmatch`.

Do you think you could do so and report back what you see with your large images?

[2018-06-15 08:33] bfirsh commented on #28
Sure! I haven't got time right now, but if I have some spare time I'll give it a go. :)

[2018-06-16 21:41] sergeybekrin commented on #83
Hey @phawxby, I've faced similar issues and can suggest few things:

1. Use selenium server for consistent output. Running VR tests in different environments is unreliable and would likely to fail due to different text-rendering and image anti-aliasing;
2. Auto-crop whitespace area before comparing images. It's possible to do with [Jimp](https://github.com/oliver-moran/jimp#basic-methods).

Hope t

[2018-06-19 21:18] ThomasSimeroth opened #84 "Interactive Snapshot Mode"
In Jest 23, an interactive snapshot mode was added, allowing you to step through your failing JSON snapshots using `-- -i` in the command line. Unfortunately, that command is not implemented in this library.
Is there any way to re-create that behavior in the library?

For instance, we could run the tests with `npm test -- -i` and if one of my tests fail, it would pause the test suite, and pop up t

[2018-06-20 03:20] anescobar1991 commented on #84
Hmm that would be interesting. Not sure what the best UX would be for popping up a diff though but definitely something to think about. Tbh I have not used the snapshot interactive mode in jest 23 too much so I’ll have to use it a bit and figure out how to fit Jest-image-snapshot into it.

[2018-06-25 19:48] mishimaltd opened #85 "Enable fail on image size mismatch to be configurable"
I am snapshot testing a legacy project and the diff tool works wonderfully most of the time. The system I am testing will sometimes return HTML that is one pixel taller than the previously captured snapshot. Other than the height difference, the output is identical and the pixel match works fine.

Would it be possible to make the default fail on image size mismatch logic configurable? This would r

[2018-06-26 14:47] metaskills commented on #51
Or alternatively, using term-img (https://github.com/sindresorhus/term-img) to show the diff in the console. Are there any hooks where I can wire this up myself?

[2018-06-27 07:00] anescobar1991 commented on #85
Do the solutions in https://github.com/americanexpress/jest-image-snapshot/issues/83#issuecomment-397840357 help at all? I'd be reluctant to add this feature because an image of different dimensions is a different image and should fail. Doing a diff across differently sized images yields to unexpected and misleading results.

[2018-06-27 07:03] anescobar1991 commented on #51
@metaskills you may be able to create a [custom Jest reporter](http://jestjs.io/docs/en/configuration.html#reporters-array-modulename-modulename-options) to do so

[2018-06-27 12:36] mishimaltd commented on #85
Hey, thanks very much for coming back to me. I do take your point on image size, it is a bit of a stretch.

I'll try using Jimp to clean up the image prior to comparing, I think it will do what I need.

Thanks again :-)

[2018-06-29 06:54] #85 closed

[2018-06-30 23:16] ProTip opened #87 "Diff performance regression"
I'm seeing ~2.5s on an `toMatchImageSnapshot` when the images differ in `2.4.0` on node 9. I'm seeing about ~4.7s+ on `2.4.3`.

As a side note, for me it takes about 1s+ longer with node 8 vs 9 on `2.4.0`.

All of these timings, even the better timings, seem simply incredible for diffing and writing images. I'm guessing this is largely due to some slowness in pngjs?

[2018-07-01 00:09] anescobar1991 commented on #87
Can you push up a repro for us to investigate? You are right that is crazy slow.

[2018-07-01 01:15] ProTip commented on #87
I believe I have a fix on the way.

[2018-07-06 21:10] #74 closed

[2018-07-09 20:36] theblang commented on #87
@ProTip @anescobar1991 This is probably due to https://github.com/facebook/jest/issues/5163 right?

[2018-07-09 21:16] anescobar1991 commented on #87
@theblang yes you are right. I believe https://github.com/americanexpress/jest-image-snapshot/pull/89 is a fix

[2018-07-09 22:02] theblang commented on #28
@anescobar1991 My apologies, I didn't back to you when you asked

I recently got back to the task of migrating our current screenshot specs to Puppeteer. I'm noticing that screenshot comparison with the matcher still takes around 15 seconds on an 1100 x 2400 image. I'm curious if there is something I need to do on my end to take advantage of the performance tweak you made involving the separate pr

[2018-07-09 22:07] anescobar1991 commented on #28
Yeah what I fixed was moving the image diff creation into its own child process outside of Jest. After that there is still some slowdown caused by Jest and to avoid that #89 finishes the job.

Can you clone that branch and validate speed with it?

[2018-07-09 23:34] theblang commented on #28
@anescobar1991 Oh wow! So here is the before and after, master vs https://github.com/americanexpress/jest-image-snapshot/pull/89

[code]

vs

[code]

[2018-07-11 05:32] patrickhulce commented on #59
Anyone planning on picking this up? Cleaning up unused images would be super helpful :)

I tend to run into CLA issues with goog, but happy to help in other ways if possible just let me know!

[2018-07-13 20:32] dbkaplun opened #91 "Feature: notice if threshold can be lowered"
Hello,

It would be nice to be able to know if a test's specified threshold can be lowered.

For our use case, because various environments render images slightly differently, we need to have a threshold, which is not ideal. It would be great if jest-image-snapshot logged that the threshold can be lowered for a given test.

Thanks for considering!

[2018-07-13 21:03] anescobar1991 commented on #91
Hi @dbkaplun - I’m not sure what you mean by this.

Can you elaborate?

[2018-07-13 23:03] dbkaplun commented on #91
Here's a concrete example: if a generated image differs from the snapshot by 49 pixels and `failureThreshold` is set to 50, a warning would appear. However, if exactly 50 pixels are different, no warning will appear.

[2018-07-14 07:40] anescobar1991 commented on #91
I’m not sure I see the value in adding a warning but I think maybe changing up the first part of the message to specify what the threshold is would be good!

In https://github.com/americanexpress/jest-image-snapshot/blob/master/src/index.js#L101 we could mention the specified threshold type and value? Maybe in parentheses after ‘... be a close match to snapshot’?

Feel free to open up a PR!

[2018-07-26 04:07] itaylor opened #92 "Question: how are people storing their snapshot images?"
I've been using jest-image-snapshot for a while, and I started out storing my snapshots as checked in assets in git, just like I do with my JS jest snapshots.   This works great.

However, now that I've got a few hundred snapshot images and they all get updated semi-frequently as UI changes in the app occur, my Git repo is starting to get pretty huge.  The historic screenshot files that are in the

[2018-08-01 09:52] booxood opened #93 "Bug: no compare white pixels"
If the difference is all white pixels, test will pass.

[2018-08-02 16:07] anescobar1991 commented on #93
We use `pixelmatch` as the underlying image comparison library. See https://github.com/mapbox/pixelmatch/issues/26 for details on the issue you are describing.

[2018-08-02 16:07] #93 closed

[2018-08-03 05:30] itaylor commented on #92
I've not heard back from many of you, so I've been thinking about this some more, as it seems like it might be a problem that hasn't been solved yet. 😄

Here's an idea that would address this problem.
Right now we do a pixelmatch for each image, comparing the stored snapshot image which lives in the file system (presumably checked in to source control) with the new image.

What if, instead of stor

[2018-08-03 06:54] booxood commented on #83
Hope can add hasSizeMismatch can be optional, because sometimes want to ignore 1px or 2px differences.

@anescobar1991 Will accept PR?

[2018-08-03 12:01] kgoedecke commented on #92
@itaylor I see one problem with that idea, currently you can set a threshold for the image comparison, which would not work with the hash solution. On top of that, even if you take a screenshot and the content is the same, I highly doubt the image will have the same hash! But as I said before I think we can totally integrate S3 as the primary store for the screenshots. I would definitely help to i

[2018-08-03 19:50] itaylor commented on #92
I was thinking you'd still be able to do the threshold check on the pixelmatch data, you'd just have to pull the image from the external file store first (but only if the images don't match the hash).  I checked and for the way I'm using this library, with puppeteer running inside of docker the raw image data *is* exactly the same from one screenshot to another, and the hash would be the same if t

[2018-08-05 23:41] kgoedecke commented on #92
@itaylor I’d be curious to get the opinion of some other folks here on that topic. To me it still sounds quite error prone to do this using a hash.

[2018-08-06 17:53] itaylor commented on #92
@kgoedecke So, let me understand better what you're proposing.  To me, it sounds like your proposal is that we'd add some config that allows the snapshot images to be persisted in a S3 bucket.  When I've made some changes and want to run the tests, I'd run `jest`, and it would go out and download everything in that bucket and then use those as the snapshots using the exact same diffing mechanism t

[2018-08-06 22:09] anescobar1991 commented on #92
So this would require a user to be connected to the internet in order to use the matcher?

[2018-08-07 20:36] itaylor commented on #92
@anescobar1991 Yes, any of the various permutations I've described above would require an internet connection to compare vs snapshots.  That said, I wouldn't suggest that this would be the only option.  For a smallish project with not very many screenshots, just keeping the files in the file system and checking them in with the code works fine, and I think that should continue to work.

[2018-08-12 10:05] bburns commented on #92
@itaylor I think using an image hash is a great idea - it would be nice to have it as an option anyway. It would flag anything that had changed so you could inspect the image manually, without needing to store images in .git or elsewhere.

[2018-08-13 16:32] bburns opened #96 "Question: How do you render and test a multi-screen page?"
We're using jest-image-snapshot to do visual testing of our landing page, which is several screens long.

The viewport size of 800x1200 is intended to capture two screens-worth, but it only gets a stretched image of the first screen.

Is it possible to test the entire page length at once?

[code]

(as posted here https://stackoverflow.com/questions/51803809/how-do-you-get-a-multi-screen-page-image

[2018-08-13 20:50] anescobar1991 commented on #96
I think something like that is outside the scope of what jest-image-snapshot does (image comparison).  I would suggest asking in a puppeteer focused issue tracker or support group.

[2018-08-13 20:50] #96 closed

[2018-08-14 20:25] theblang opened #97 "Allow the diff output directory to be configured?"
We wired up `jest-image-snapshot` and `Puppeteer` to our CI process in CircleCI for automated screenshot testing. There is an option to show failures using CircleCI's [store_artifacts](https://circleci.com/docs/2.0/artifacts/#uploading-artifacts) API. Unfortunately, it doesn't allow wildcards or matchers. Because of this we have to whitelist every single `__diff_output__` directory, which is quite

[2018-08-14 21:28] booleanbetrayal commented on #97
I would also find this useful!

[2018-08-14 23:44] anescobar1991 commented on #97
I think that is a reasonable feature to add 👍🏼

[2018-08-16 15:12] kgoedecke commented on #92
@itaylor if you're screenshot really do have the same hash then it's probably not a bad idea. Do you mind sharing how you currently take the screenshots with Docker? I'm in particular interested in how you do it locally across different developers.

[2018-08-16 20:28] anescobar1991 commented on #87
Closed by #95

[2018-08-16 20:28] #87 closed

[2018-08-17 18:01] itaylor commented on #92
@kgoedecke, Yes, I'd be glad to share.

We're using puppeteer and Jest image Snapshot in an integration testing workflow.
There are a few pieces to it:
* A `docker-compose` file that runs the whole application and all its dependencies. This is the same setup that developers use to run the application for development purposes, and doesn't include the integration tests.
* A separate repository for t

[2018-08-18 01:06] 10xLaCroixDrinker commented on #92
@itaylor have you considered using [LFS](https://git-lfs.github.com/) to manage your image snapshots?

[2018-08-19 01:13] kgoedecke commented on #92
@itaylor thanks a lot for sharing this, I actually ran into the same problem that you describe in your 2nd bullet point. Seems like I need to improve that step with your guidelines now 👍 🙇

[2018-08-19 01:15] kgoedecke commented on #97
@theblang I also use circleci for the testing and have a little script that uploads diff to s3, and then i simply log the S3 url which I can then copy and paste out of the CircleCI output. Wouldn't that be much easier for you?

[2018-08-19 02:31] itaylor commented on #92
@10xLaCroixDrinker Thanks for the tip on LFS!

I've been using Git daily for about a decade, but somehow I hadn't heard of LFS, and yes, after a cursory look at the docs, it seems like it should completely solve my issues with being able to effectively store large amounts of large screenshot files in the Git repo!

It's seems to be basically the same idea I suggested, using the filename as the has

[2018-08-19 13:01] noinkling opened #98 "Regression: v2.5.0 hangs in WSL"
In WSL with 2.5.0, `.toMatchImageSnapshot()` hangs indefinitely. It worked in 2.4.3.

I did some debugging and it seems to be related to the change in #95 to spawn a worker process. The main process hangs at the call to `spawnSync()` here: https://github.com/americanexpress/jest-image-snapshot/blob/a80a69c2f4736be5eee78610337241b012c26cd3/src/diff-snapshot.js#L202-L205

Debugging the child process

[2018-08-19 22:47] noinkling commented on #98
It looks like this may already be fixed in Windows insider builds: https://github.com/Microsoft/WSL/issues/1774#issuecomment-414140409. Which means it should hit the next big update due in October.

[2018-08-19 23:25] anescobar1991 commented on #98
I will close this issue then since it will be fixed from Microsoft’s end.

[2018-08-19 23:25] #98 closed

[2018-08-20 13:00] noinkling commented on #98
I reverted to 2.4.3 and found I'm getting a similar issue when trying to write the diff file, which makes sense because it also uses `spawnSync()`.

The weird part is that *this was working before*, so I don't know what's going on.

[2018-08-20 14:30] anescobar1991 commented on #98
Something must have changed on WSLs end? Otherwise I’m not sure why the same code would work before but doesn’t now.

I’d test myself but I don’t have any Windows machines readily available to me.

[2018-08-20 18:53] theblang opened #99 "The value passed into the failureThreshold option is compared against a ratio, not a percent, which is confusing since the failureThresholdType is percent."
See [this conditional block](https://github.com/americanexpress/jest-image-snapshot/blob/master/src/diff-snapshot.js#L145) where the comparison is done. It is really comparing the ratio, not the percent, against the threshold option. That is confusing since the [options documentation](https://github.com/americanexpress/jest-image-snapshot/blob/master/src/diff-snapshot.js#L145) says to specify `per

[2018-08-22 04:08] anescobar1991 commented on #99
I think we should change the comparison to actually use a percentage. This might be controversial but in my mind this is a bug and so the fix would not require a major version bump for the breaking change.

@theblang @10xLaCroixDrinker what do you guys think?

[2018-08-22 04:10] anescobar1991 commented on #91
I'm not really sure this is actionable in a way that is meaningful so I will close for now.

[2018-08-22 04:10] #91 closed

[2018-08-22 04:14] anescobar1991 commented on #59
@patrickhulce what issues do you typically run into? Could you open a PR outside of work hours on a personal laptop and sign the CLA as yourself and not as a Googler?

[2018-08-22 04:41] PixnBits commented on #99
I'm probably missing something obvious, but to clarify what's the difference between the ratio of pixels and the percentage of pixels?
`const diffRatio = diffPixelCount / totalPixels;`
Seems like the const name could be `diffPercent` and still be accurate?

[2018-08-22 04:49] patrickhulce commented on #59
@anescobar1991 the point is about to be moot since I'm leaving full-time Google in ~2 weeks, so once I get some spare cycles after that I'll probably take a whack at this :)

[2018-08-22 14:35] 10xLaCroixDrinker commented on #99
@anescobar1991 This would certainly break every user that is using this `failureThresholdType`. I strongly disagree with regard to version bumping; it should be a major version bump to implement the change you are suggesting.

@PixnBits a ratio being 0-1 and a percentage 0-100

[2018-08-22 15:00] PixnBits commented on #99
Ah, cheers. Percentage vales are displayed as xx.x% but stored in machines or expressed in Math as 0.xxx, hence my confusion. I'm guessing this issue is requesting the value to be the `'xx%'` form instead of `'0.xx'` currently in use?

[2018-08-22 19:11] theblang commented on #99
@PixnBits Yeah, so if you see [this code](https://github.com/americanexpress/jest-image-snapshot/blob/master/src/diff-snapshot.js#L145) you'll notice that it does a calculation of "diff pixels / total pixels". So if you had 500 pixels that were different in an image of 1000 total pixels then you'd get `500 / 1000`, or `0.5`, as the ratio; then multiplied by 100 you'd get `50%`. Since the `failureT

[2018-08-23 02:29] theblang commented on #97
@kgoedecke Well, it seems pretty nice to tie into the `store_artifacts` feature of CircleCI since it has its own pane in the workflow UI that will cleanly list all of your artifact files with links, instead of having to scroll down and find urls within the logs.

[2018-08-23 04:52] PixnBits commented on #99
I guess what I'm getting at is that percentage is a presentation of a ratio, 50% === 0.5 (the multiplication/shifting the decimal over 2 points is just for the presentation)

[2018-08-23 11:13] kgoedecke commented on #97
@theblang good point, we should look into it then!

[2018-08-23 14:13] 10xLaCroixDrinker commented on #99
Good point @PixnBits. Perhaps what we need is to just clarify this in the README

[2018-08-23 20:57] theblang commented on #99
@PixnBits @10xLaCroixDrinker So just making changes to specify `ratio` in the documentation was my latter thought in the original post. However, my personal opinion is to change the comparison value in code and leave the documentation as is. You mention that percent is only presentational, which is true. But the reason that that presentational concept exists is because it is easier to think about.

[2018-08-24 01:04] PixnBits commented on #99
totally agree, and ambiguity on what something like `'0.5'` means (50%? 0.5%?) is a bad experience 👍
thoughts on

from [issuecomment-415063294](https://github.com/americanexpress/jest-image-snapshot/issues/99#issuecomment-415063294)

[2018-08-24 01:09] 10xLaCroixDrinker commented on #99
@PixnBits sounds like a great solution to me

[2018-08-26 03:29] anescobar1991 commented on #99
I think that's sensible. @theblang do you want to update your PR to reflect @PixnBits's thoughts?

[2018-08-27 04:29] itaylor commented on #92
I've done a POC with Git LFS and it works well.   Unfortunately, the company I work at uses Gitlab, and we're not on the newest version and there are [incompatibilities](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/20923) with the latest Git LFS versions.  I was able to work around this issue by using an older version of Git LFS client 2.4.2 instead of the latest 2.5.1.  After jumping th

[2018-08-27 15:20] 10xLaCroixDrinker commented on #99
No, we still have the `pixel` type. We've just added a new way to input the `percentage` type.

[2018-08-28 05:31] theblang commented on #99
@10xLaCroixDrinker So my thought was that maybe all three types could now be deduced from the `failureThreshold` value instead of needing the additional `failureThresholdType` config.  There'd be either a number with a percentage sign for a percent, a number less than 1 for a ratio, or a number greater than or equal to 1 for a pixel count. I suppose though that a value of 1 would be ambiguous, as

[2018-08-29 02:09] anescobar1991 commented on #99
Yes that’s right @theblang

[2018-08-29 16:04] jondot opened #101 "Flakyness in 2.5.0"
Hi,
FYI i'm Getting flakyness in 2.5.0 as opposed to 2.4.3, where some components are appearing half-rendered. Reverted to 2.4.3 for now.

[2018-08-29 18:47] anescobar1991 commented on #101
Hi @jondot what do you mean by flakiness? Can you provide more detail? jest-image-snapshot isn't responsible for generating the image so not sure why it would cause any flakiness.

In any case can you provide a repro and/or more detail?

[2018-09-06 04:02] anescobar1991 commented on #101
Closing as a repro has not been added and this doesn’t seem like a jest-image-snapshot issue. Feel free to reopen if you can provide a repro.

[2018-09-06 04:02] #101 closed

[2018-09-11 21:26] kevinfoerster opened #102 "using test.each and jest-image-snapshot/puppeteer"
this might be a puppeteer or jest related issue… I try to run `test.each` and `jest-image-snapshot`
I have the following test:

[code]

I get an error:
[code]

the tests run perfectly if I create them one by one, but for obvious reasons I would like create to those test on the fly…

any idea how this can be fixed?

[2018-09-12 16:27] piratefsh opened #103 "Feature request: Way to detect unused snapshots and remove them"
Hi all,

When running a full test suite, is there a way to detect which images in `__image_snapshots__` are not being used or checked against? I imagine there to be a flag that you can pass in to clean up unused snapshots.

We are running into scenarios where engineers are removing or renaming tests but not removing the related snapshots -- it would be nice to be able to automate this.

[2018-09-12 19:45] piratefsh commented on #103
@anescobar1991 yes, exactly that. will close this issue.

[2018-09-12 19:45] #103 closed

[2018-09-12 19:46] piratefsh commented on #59
Hi @patrickhulce I am also in need of this feature -- are you still planning to work on this? Else I can pick this up.

[2018-09-14 03:50] patrickhulce commented on #59
@piratefsh I'm in the middle of moving, so it's very unlikely I'll get to it anytime soon. You can go for it :)

[2018-09-14 17:35] anescobar1991 commented on #102
To be honest I have not played with Jest's `.each` feature yet so I am not sure what the issue could be.

It looks like this is an issue better raised in the Jest or puppeteer's repo. The error you are showing happens before `toMatchImageSnapshot()` executes.

[2018-09-14 17:35] #102 closed

[2018-09-15 16:43] flo-sch commented on #59
Not exactly the same issue, but I also noticed that screenshots would never be purged if a screenshot name change.

By default, screenshots are named using test file name, test description and test case name:

Which mean that if you have the following test for instance:

[code]

The resulting screenshot name would be:

`desktop-test-js-visual-regression-desktop-compares-screenshot-of-pages-1-snap.

[2018-09-17 17:38] piratefsh commented on #59
@patrickhulce will do, thanks!

@flo-sch yup, I am also running into the same issue where sometimes we have our story names changed and the old snapshots do not get removed. having `-u` remove unused snapshots in __image_snapshot__ would be ideal.

i'll take a crack at this next week!

[2018-09-17 19:47] flo-sch commented on #59
That would be lovely :)
Let me know if I can help in any way?

[2018-09-24 08:59] basher opened #104 "Cannot generate image snapshot - getting error "TypeError: matcher.apply is not a function""
I'm using Create React App, and trying to run visual regression tests outside the CRA "src" folder with **Puppeteer** and **Jest-cli**, so that we can separate our Puppeteer tests from our CRA unit tests

## Jest command, and error log:

`npm run test:puppeteer-visual admin`

[code]

## NOTE:
The above error also happens if I move my test file (and Jest setup/config files) inside CRA "src" folder

[2018-09-24 21:05] anescobar1991 commented on #104
I think this is related to how create-react-app makes use of Jest so I am not sure I can be of much help. Opening an issue in CRA repo asking about how to properly add a custom Jest matcher is probably the best way for you to get help on this.

[2018-09-24 21:05] #104 closed

[2018-09-25 14:32] basher commented on #104
@anescobar1991 OK. Thanks Andres.

I've raised an issue in CRA repo - I'll post link here in case anyone else stumbles across this page:
[cra-bug-jest-image-snapshot](https://github.com/facebook/create-react-app/issues/5086)

[2018-09-27 17:11] phawxby opened #105 "RFC - Hash comparison to speed up diffing"
We've developed an extremely large test suite, approaching 1000 test images. This takes an extremely long time to run even when all images are identical.

How about we perform a hash comparison of the images before the image diff to speed up the results of identical images?

[2018-09-28 23:09] bugzpodder commented on #104
Change your code to import { toMatchImageSnapshot } from 'jest-image-snapshot'; and it should work. (notice the curly braces)

[2018-10-01 07:51] basher commented on #104
That works. Don't know why I didn't spot that?!

[2018-10-02 11:30] walterra opened #107 "Allow customization of -snap.png postfix"
First of all, this is an amazing tool, thanks!

I encountered the following: I tried to use this with a repo that enforces `snake_case` for files via ESLint. That doesn't play nicely with the hard-coded `-snap.png` this module is using. I was able to get rid of other dashes by using custom ids via `customSnapshotIdentifier` but this one dash remains.

Would be great if that could be overridden wit

[2018-10-02 13:35] tipbruley opened #108 "Unable to diff screenshots if node is not on the path"
https://github.com/americanexpress/jest-image-snapshot/blob/master/src/diff-snapshot.js

spawns a child process with 'node' passed in. This doesn't work on machines where node is not on the path (which may happen on some build systems or local deployments).

I think the fix here is to change
const writeDiffProcess = childProcess.spawnSync(
    'node', [`${__dirname}/diff-process.js`],
    { input:

[2018-10-02 19:34] piratefsh commented on #59
Here's what I figured out so far:

I was looking into how `jest-snapshot` detects obsolete snapshots, which can then be removed with `-u`. `jest-snapshot` exports a cleanup function (code [here](https://github.com/facebook/jest/blob/8eefa9690e167e9f056ec5d9532a9df465018c67/packages/jest-snapshot/src/index.js#L30)) that is run by TestScheduler (see code [here](https://github.com/facebook/jest/blob/

[2018-10-03 01:33] anescobar1991 commented on #107
Honestly I am not sure this is a change that would be of much benefit to anyone else.

Can't you just configure `eslintrc` to ignore the snake case for the `__image_snapshot__` directory?

[2018-10-03 01:33] #107 closed

[2018-10-03 07:41] noinkling commented on #98
Just confirming that everything seems to work fine after the new Windows update just released.

[2018-10-04 15:04] nehaverma8 opened #110 "customSnapshotIdentifier - appending to the default snapshot identifier"
Hi, we use jest-image-snapshot for visual regression testing for multiple browsers and multiple device sizes.
Ideally, I would like to have snapshots stored as chrome-<<defaultsnapshotid>_1200_800 and  edge-<<defaultsnapshotid>_1200_800   where 1200 and 800 is browser size and browsers are chrome and edge

If I use customSnapshotIdentifier  - I am unable to use the inbuilt logic in jest-image-snap

[2018-10-04 15:56] vladar commented on #107
Why is this postfix needed at all when using `customSnapshotIdentifier`? We also have some issues with our build scripts and have to add some hacks to work around it.

[2018-10-04 18:52] anescobar1991 commented on #110
Hi @nehaverma8 I am not sure I follow - what logic are you wanting to be exposed? As far as I can see you should have the `1200_800` already.

[2018-10-04 18:56] nehaverma8 commented on #110
I want the logic for creating the snapshot file name to be exposed
For e.g if the default snapshot name is "it_should_display_2_panels_snap_1" then when I generate the snapshot using chrome browser with 1200x800 browser size,  I want to be able to name the snapshot as chrome_1200_800_**it_should_display_2_panels_snap_**  with the bold part of the string coming from jest_image_snapshot library.

[2018-10-04 22:29] anescobar1991 commented on #110
Is there any reason why you want to use the same snapshot identifier logic that we use as opposed to creating your own name?

If you are using `customSnapshotIdentifier` then the expectation is that no logic from how we name things is used as you are creating your own snapshot name and I am not sure I really want to expose that logic as it probably is not very useful to most but would be creating

[2018-10-04 22:29] #110 closed

[2018-10-05 08:02] walterra commented on #107
Sounds great!

[2018-10-05 14:32] amypellegrini commented on #84
@anescobar1991 Indeed Jest provides a great API to extend the interactive mode CLI, you can find the docs here: https://jestjs.io/docs/en/watch-plugins

[2018-10-08 16:30] #108 closed

[2018-10-08 16:32] #92 closed

[2018-10-09 20:32] piratefsh commented on #59
hi @anescobar1991 , can you share which part of the Jest codebase that you found might make it possible to clean up screenshots (from comments above)? From what I could find, it didn't seem like there was a clean way to do it (see last comment), but I could have missed something. Would appreciate any pointers you have!

[2018-10-10 03:39] anescobar1991 commented on #59
No I think you are right. The best way is probably to open a PR to jest or an issue asking how much of that cleanup logic they would be willing to expose as a public API.

[2018-10-17 15:23] cake-jnorman opened #111 "Image snapshots differ between machines"
I am using puppeteer and I do understand that it is actually taking the snapshots - but I still wanted to toss this issue your way just in case you have any insight into what could cause this.

In short, the tests report differences only in text between two machines.  To work around the issue for now, I have just bumped up the threshold, but I find that to be less than ideal.

In trying to solve t

[2018-10-18 13:43] cake-jnorman commented on #111
... And today's doh moment is brought to you by the letters D, U and H...

That should work.  Thank you!  Still would like to know _why_ things render differently, but that's probably a Q for the puppeteer folks.  Appreciate the response.

[2018-10-18 13:43] #111 closed

[2018-10-18 21:10] jacobweber opened #112 "Feature request: option to save updated images when failing"
If I don't pass `--updateSnapshot`, I'll get the diffs but not the updated images.

If I DO pass `--updateSnapshot`, I'll get the updated images but not the diffs.

Would it be possible to have a flag like `--updateFailedSnapshot`, where it would update the images AND create the diffs?

My use case: I'm running this on a CI server. If the images don't match, I'd like to examine the diffs. Then if

[2018-10-18 22:57] anescobar1991 commented on #112
So you are updating the images on the CI server? Is that what the use case is?

[2018-10-18 22:59] jacobweber commented on #112
Yeah, my plan was to keep a "reference" copy somewhere, and then copy it into the build workspace before each job runs. Then the build would update the images, and show me the diffs if any changed. If I approve, I would run a script that copies the updated images back into the reference folder, so they'd become the baseline for subsequent builds.

[2018-10-19 01:19] anescobar1991 commented on #108
Released v2.6.0 with this fix.

[2018-10-19 01:19] anescobar1991 commented on #105
Released v2.6.0 with this fix.

[2018-10-23 02:51] jacobweber commented on #62
Same would be useful for `customSnapshotIdentifier`.

[2018-10-31 22:04] amexjake opened #114 "Deprecate `noColor` (should use `--no-color` flag instead)"
I was noticing that when running jest with the `--no-color` flag, jest-image-snapshot was still using color. It looks like this is due to code introduced in #5 to solve the same issue that running jest with the `--no-color` flag would do. IMHO, all colorization should be consistent across all tests and handled at the `jest` level, not specified per `expect()` invocation.

Wanted to make sure that

[2018-11-01 05:10] elisherer commented on #114
@amexjake, shouldn't `--no-colors` be picked up automatically by chalk?

I think it's a different problem, having to do with jest running the test files in spawned processes.

[2018-11-01 15:59] amexjake commented on #114
It _should_, but this line is overriding that, forcing it to always on by default making it to where you have to set it explicitly off for all each image snapshot test: https://github.com/americanexpress/jest-image-snapshot/blob/master/src/index.js#L51

You can see what I'm talking about by just running a `jest --no-color` on a test suite with failing image snapshots. The errors will still be in r

[2018-11-08 21:40] #97 closed

[2018-12-21 05:49] UsharaniA opened #117 "How to execute the test case Continuously even if there is a Failure in the Screenshot"
Hi,
My requirement is i want to run my test cases to the end and finally see the difference in the screenshot but the expect(image).toMatchImageSnapshot()) fails the test cases immediately once the screenshot is mismatched.

[2018-12-22 16:50] anescobar1991 commented on #117
I don’t understand the question. Can you elaborate a bit more?

Either way I am closing this issue since it is not a bug report or a new feature proposal.

[2018-12-22 16:50] #117 closed

[2018-12-22 17:42] UsharaniA commented on #117
Hi,
I want to take screenshot of all navigation inside my test case .
But if my 1st screenshot has difference the expect(image).toMatchImageSnapshot())  fails the test case immediately and doesnot moves to the next navigation.

Is there any possibility if i can take all screenshot difference till the end of test case without failing and stopping the test case.

[2019-01-02 12:21] UsharaniA commented on #117
Hi Thanks for the update.
I tried as u mentioned but my firstScreen has some difference so it comes out of the function without executing expect(secondScreen).toMatchImageSnapshot();

[2019-01-03 03:05] anescobar1991 commented on #117
That’s how jest tests work, they exit after the first assertion failure. I think what you will want to do is get all the snaphots in beforeAll or a similar lifecycle function and then compare each screenshot within separate tests.

[2019-01-09 10:37] kandros commented on #51
@metaskills I'm doing experiments with it, looking good so far but had to edit jest-image-snapshot core, looking into custom reporter right now

![image](https://duaw26jehqd4r.cloudfront.net/items/0D0O3R0R1f1Q0E2n0V0j/Screen%20Recording%202019-01-09%20at%2011.28%20AM.gif?v=8efd98da)

[2019-01-09 12:55] metaskills commented on #51
Love it, I subscribed to your linked issue too.

[2019-01-09 13:39] kandros commented on #51
I need to add result to the result of the matcher https://github.com/americanexpress/jest-image-snapshot/blob/master/src/index.js#L120

but I cannot find a way to read a matcher result data from a custom reporter

looking at jest code I should be already able to read at least pass and message from a reporter
https://github.com/facebook/jest/blob/master/packages/expect/src/index.js#L274

but I cann

[2019-01-10 03:37] anescobar1991 commented on #51
Oops! Got here too late I see you have figured it out in the Jest repo. This will be a great contribution though I can’t wait to see it!

[2019-01-14 16:13] fleck opened #118 "Support jest retryTimes"
Would you consider merging a PR adding support for jest's retryTimes() https://jestjs.io/docs/en/jest-object#jestretrytimes ?

I've monkey patched jest-image-snapshot to support jest's retryTimes() and it's been really helpful shaking flakiness out of our browser tests.

[2019-01-14 17:35] thomasbertet commented on #112
I would love to have this feature too.
I have over 300 snapshots, and it takes a certain time to generate / diff.
If I could do it in one go, review the diffs & then use the image already generated, that would be great.
I believe Jest 23 comes with a new system to review snapshot changes individually but `jest-image-snapshot` does not seems to be playing well with this (I havent seen any option to

[2019-01-14 19:18] anescobar1991 commented on #118
We would yes! Curious as to what the change would be though? Shouldn’t it work out of the box?

[2019-01-14 20:33] fleck commented on #118
It's currently broken 🙁I've monkey patched toMatchImageSnapshot but would like to do a proper PR into jest-image-snapshot so everybody can use this. There is the limitation of 1 snapshot per test when combined with retryTimes, but it's well worth it in our case to have automatic retries. Also, we may be able to hash out in the PR how to get multiple snapshots per test.

The problem with the curren

[2019-01-15 00:26] dspasojevic opened #119 "diff-process output is empty on Windows"
Hi,

The result of calling `diff-process` is empty when read from `runDiffImageToSnapshot` on Windows.

I tried changing to use stdout instead of fd 3, and the output appeared. Likewise, using `ipc` for fd 3 instead of `pipe` and `spawn` instead of `spawnSync` makes the output appear as expected.

Neither of these changes feel great - the former is pretty hacky and the latter forces a change on us

[2019-01-15 01:54] anescobar1991 commented on #119
Are you saying that when running `toMatchImageSnapshot()` this is happening? Or are you calling `runDiffImageToSnapshot()` yourself? Assuming it is not the latter can you provide a repro and I can see if I can find a windows machine to replicate the error?

[2019-01-15 01:56] anescobar1991 commented on #118
Yeah that would be great. How does `jest-snapshot` handle snapshots currently? The approach should not be any different here and if possible a PR to Jest should be opened to make whatever they are doing that works for "regular" snapshots work here as well.

[2019-01-15 02:59] anescobar1991 commented on #119
Okay, can you provide a repro so we can investigate? I have not seen any issues with windows reported either by the community or internally at Amex so I’d like to look further into what could be happening in your case.

[2019-01-15 03:32] dspasojevic commented on #119
For me:
[code]
is enough to reproduce the issue.

A few of the snapshot tests will fail because not all paths (i.e. `diffDir`) are mangled back to the right form.

[2019-01-15 22:54] dspasojevic commented on #119
I submitted #120 that should resolve the snapshot issue.

[2019-01-16 23:00] NishantShenoy opened #121 "Sample giving me: Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout."
Hello,

I'm trying to run the examples on my laptop and I get an error which says:
 ● jest-image-snapshot usage with an image received from puppeteer › works

    Timeout - Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout.

      24 |   });
      25 |

         |   ^
      27 |     const page = await browser.newPage();
      28 |     await page.goto('https://ex

[2019-01-17 14:02] anescobar1991 commented on #121
Are you behind a corporate proxy or anything that may prevent puppeteer from opening up and/or navigating to the example page?

[2019-01-17 19:11] NishantShenoy commented on #121
@anescobar1991  I'm on a corporate network if that is what you are asking. I'm not sure how that would change anything, I feel there something deep in the bowels of the CDP protocol that is preventing me from opening puppeteer. Do you or any of the users see this issue? If no, I'll need to snoop around puppeteer then.

[2019-01-17 20:21] ianqueue commented on #121
@anescobar1991 @NishantShenoy - I've run into the same issue here... anyway we can find out if it is our corporate network or not?

[2019-01-17 21:43] ianqueue commented on #121
nevermind... it's because I had to use require and use . pathing instead of destructuring... sorry.

[2019-01-17 23:53] NishantShenoy commented on #121
Got it working it, had to do with puppeteer setting :) I had to set some args and  ignoring the --disableExtensions

I'm on Windows 10
Node version: v8.11.3
puppeteer: 1.11.0

`const puppeteer = require('puppeteer');
jasmine.DEFAULT_TIMEOUT_INTERVAL = 10000;

describe('jest-image-snapshot usage with an image received from puppeteer', () => {

    it('works', async () => {
      debugger;
      con

[2019-01-17 23:53] #121 closed

[2019-01-18 04:29] #119 closed, assigned to nobody

[2019-01-19 00:36] JamesSingleton commented on #112
@jacobweber so basically you want something that is like Jest's interactive snapshot mode where Jest will step you through the failed snapshots one test at a time and give you the opportunity to review the failed output. Once in there, you can choose to update the snapshot or update the image in this case.

[2019-01-19 00:47] jacobweber commented on #112
@JamesSingleton Sort of, although I wanted it to run unattended. I guess that's not something that Jest supports with normal snapshots, so there may be no way to do it using Jest's APIs.

What I ended up doing was running the tests without `--updateSnapshot`, but in my tests, before calling `expect(image).toMatchImageSnapshot`, I write `image` to a separate directory, so that all the new images ar

[2019-01-23 19:13] fleck commented on #118
The regular snapshots are also broken when retryTimes is set. That was never a big deal for us as we really don't need retry times for react snapshots as they never have false positives. I ended up requiring screenshots to have customSnapshotIdentifier set to help disambiguate snapshots.

[2019-01-24 16:04] toptalo opened #123 "Feature request: option to change diff layout orientation"
Need option to change diff image layout from horizontal to vertical.

Use case: site with horizontal scroll

Current output:
![image](https://user-images.githubusercontent.com/2378757/51669730-1fe3dc80-1fd6-11e9-9b2a-8e4ef9fe3aea.png)

I think this will be better:
![image](https://user-images.githubusercontent.com/2378757/51669908-836e0a00-1fd6-11e9-8ebc-1020e7c0045a.png)

I want to try to impleme

[2019-01-30 16:58] sbekrin commented on #118
There's related issue facebook/jest#7493 in Jest. @fleck have you tried Jest 24 by any chance?

[2019-02-02 00:05] Eyesonly88 commented on #4
@oshimayoan what about `react-native-view-shot` -- I use it to take a screenshot of a View but haven't tried it with this lib.

[2019-02-04 15:54] anescobar1991 commented on #123
Closed with #124

[2019-02-04 15:54] #123 closed

[2019-02-04 15:54] anescobar1991 commented on #118
Closed with #122

[2019-02-04 15:54] #118 closed

[2019-02-04 15:56] toptalo commented on #123
Thanks!

[2019-02-05 02:21] anescobar1991 commented on #123
This is now available in version 2.8.0

[2019-02-05 18:05] MacZel opened #126 "Peer dependency warning - Jest"
`npm WARN jest-image-snapshot@2.8.0 requires a peer of jest@>=20 <=23 but none is installed. You must install peer dependencies yourself.`

How is this library to the Jest 24?
Is it possible to update this dependency?

[2019-02-06 17:06] anescobar1991 commented on #126
Yes it works with jest 24. I am opening a PR internally and will push that commit out here today.

[2019-02-06 17:59] anescobar1991 commented on #126
Commit to fix is f8e4d342ac26fb2aa15401e5d760b0cb4d84326b.

This was reviewed internally hence no PR here on public github.

[2019-02-06 17:59] #126 closed

[2019-02-10 10:55] pushqin opened #127 "Support multiple customSnapshotIdentifier in same describe"
This problems started from the fact that image name is a concatenation of describe(name,) and test(name,) .
Sometimes we have really long descriptions as a result windows cannot handle filenames that are so long.

I wanted to use the _customSnapshotIdentifier_ but we have kind of loops in our test so as a result
snapshot image created and the next `it()` consumes the previously created image and n

[2019-02-10 16:10] anescobar1991 commented on #127
In my mind ensuring a unique snapshot name is on the user if using the custom snapshot identifier option. I believe that is also how it works with “normal” snapshots in Jest.

Are you able to create your own unique identifiers and pass those to “toMatchImageSnapshot” as a solution for your use case?

[2019-02-10 16:10] #127 closed

[2019-02-10 16:55] pushqin commented on #127
My goal is that test will know what is the problem only from image name, so i would like to reuse the describe and it description as much as possible.

Maybe it is possible to handle the problem without _customSnapshotIdentifier_  by adding some _maxFileNameLength_ prop to _configureToMatchImageSnapshot_  and  avoid exceptions in windows?

[2019-02-10 20:43] anescobar1991 commented on #127
Hmm I think I am misunderstanding the problem statement because I still don't understand the issue.

Could you create a simple reproduction of what the problem is? Might make things more clear for me.

[2019-02-11 00:23] skydiver commented on #126
@anescobar1991 README needs to be updated to reflect the new requirement
(didn't want to open a new PR because probably you can fix faster)

[2019-02-11 01:04] anescobar1991 commented on #126
Feel free to open a pr!

[2019-02-11 09:39] pushqin commented on #127
The problem is that _"Very long description and the test case ids- #250108" + "desktop"_
can be more than 255 chars and this causes exception in windows.
I want to keep the length of the describe and test descriptions, this way it more informative ,but for image file i need to cap in order to prevent exceptions in windows.

_customSnapshotIdentifier_ is not an option , to use it i need to duplicat

[2019-02-14 20:00] theblang opened #129 "Allow hooking into the assert process?"
I'm curious if y'all think it would be useful to be able to hook into the assertion process with a callback. For example, an `onError: () => {}` config that could run specified code before the test fails. The personal motivation for this is that we'd like to be able to capture the entire screen when a test that is only snipping part of the UI fails, in case there are clues about the failure not vi

[2019-02-15 00:17] anescobar1991 commented on #129
I think this is way too specific of a use case so not sure I want to add this feature at this time.

[2019-02-15 00:17] #129 closed

[2019-03-01 23:21] icfantv commented on #35
For anyone else who comes here, we saw this issue when initial image snapshot generated was either corrupt or invalid (not a valid image) and so the image snapshot compare failed, not because it couldn't generate a new image, but rather, that it couldn't read the baseline.  Regenerating the baseline fixed the issue.

[2019-03-07 09:51] jbures opened #131 "updatePassedSnapshot not working?"
Hey there.

I'm trying to use this tool to create a visual diff tool for my company, as it seems the most comprehensive and flexible so far :)

But i'm having this issue when trying to update screenshots.

I have my base setup file that loosk like this:

baseSetup.js
[code]

Then i have a setup for Updating snapshots like this:

[code]

And the tests still fail when i run them, and obviously the s

[2019-03-07 10:35] jbures commented on #131
Well i just saw the `-u` option for the jest command, althought seeing this... what's the point for the `updatePassedSnapshot` option? :/

[2019-03-07 21:50] anescobar1991 commented on #131
I can see how that does not make as much sense to those not familiar to Jest snapshots... Do you mind opening a PR to clarify that verbiage? What that flag does is override the default behavior of not updating snapshots if they passed and the `-u` flag is given to Jest.

See https://github.com/americanexpress/jest-image-snapshot/issues/74 for more details.

[2019-03-07 21:50] #131 closed

[2019-03-08 22:57] test-pilott opened #132 "Dashboard for viewing snapshots?"
This lib is awesome!

I was wondering, is there any dashboard (local web app) available out there that displays all snapshots in a nice UI?

Thanks!

[2019-03-09 16:37] anescobar1991 commented on #132
Not sure there really is one... we use a very naive custom Jest html reporter internally but it really does nothing more than embed the diff screenshot onto the results in case of failures.

#51 was opened to track this issue, feel free to contribute ideas and/or code!

[2019-03-09 16:37] #132 closed

[2019-03-11 09:31] test-pilott commented on #132
Thanks @anescobar1991, I will look into this!

[2019-03-15 12:17] noveogroup-amorgunov opened #133 "Counter of total snapshots"
Hello guys! Thank you for plugin, but I have a problem with counter of snapshots.

If I use `toMatchSnapshot`, snapshot counter is set as expected. But If I use `toMatchImageSnapshot` from this library, snapshot counter isn't updated

![2019-03-15_19-13-18](https://user-images.githubusercontent.com/21186268/54430568-94c1d000-4756-11e9-8154-05f988efa340.png)

Could you please provide information ho

[2019-03-24 19:27] tobiaslins commented on #51
We are using [Axcept](https://axcept.io) for snapshot testing, management & diffs.
@anescobar1991 can't find out if it is allowed to post this. Please remove if not!

[2019-03-27 16:26] 10xLaCroixDrinker commented on #133
Looks like you found a bug @noveogroup-amorgunov ! Thanks for reporting 🙂

Feel free to open a PR to fix, otherwise we will look into this when we can

[2019-04-01 18:51] takuyahara opened #134 "Snapshot test passes on local but fails on Travis CI"
I wrote an image snapshot test on [my repo](https://github.com/takuyahara/jest-image-snapshot-issue). It passes on local but fails on Travis CI due to [snapshot mismatch](https://travis-ci.com/takuyahara/jest-image-snapshot-issue/jobs/189410782#L531). I configured `.travis.yml` as written [here](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-on-trav

[2019-04-01 22:12] anescobar1991 commented on #134
Not sure, it is difficult to tell without being able to view the diff snapshot. If you can persist the diff snapshot that would make debugging this a lot easier.

You can upload the diff to an s3 store or something similar as described in [our README](https://github.com/americanexpress/jest-image-snapshot/blob/master/README.md#upload-diff-images-from-failed-tests).

From what I can tell though the

[2019-04-01 22:12] #134 closed

[2019-04-01 22:19] anescobar1991 commented on #133
@noveogroup-amorgunov what version of Jest are you reproducing this with? I will try to take a look at this this week, I suspect this bug is only evident in Jest 24 but need to check.

[2019-04-08 11:36] test-pilott commented on #132
I stumbled upon **jest-stare** which is a nice HTML reporter that integrates with jest-image-snapshot and does the trick - at least for showing the diffs https://github.com/dkelosky/jest-stare

[2019-04-08 18:00] anescobar1991 commented on #132
This is great! Want to open a PR go feature this in our README?

[2019-04-08 18:01] anescobar1991 commented on #132
@10xLaCroixDrinker we may want to look into using this internally and deprecating our html reporter?

[2019-04-09 16:58] adamchenwei commented on #34
how this has come alone? I found this to be useful to be implemented. or Backstopjs's way of ignore certain dom? Is this really hard to do?

[2019-04-24 13:16] abhijit945 opened #135 "Issue with image comparison used with jest electron runner"
**Describe the bug**
Current setup is a Node project using Jest and Jest Electron Runner. I am using Electron Runner since JSDom has limited support for SVGSVGElements.

**jest.config.js**
[code]

**jest.snapshot.setup.js**
[code]

**SplineGraphExample.spec.js**
[code]

**To Reproduce**
`npm run test`

**Expected behavior**

Snapshot to be created.

**Actual behavior**

[code]

**Additional Inform

[2019-04-25 03:58] cpandit201 opened #136 "Feature to ignore a part of the imageSnapshot"
There are parts of image which have dates and dynamic data thus making every snapshot different.

Please have a feature to remove an area of snapshot to ignore it.

![image](https://user-images.githubusercontent.com/42322819/56711906-0e7fad00-674a-11e9-8733-9fdd881c79d9.png)

[2019-04-30 17:26] 10xLaCroixDrinker commented on #136
Have you considered mocking the dynamic data?

[2019-05-01 00:52] cpandit201 commented on #136
Hi Jimmy,

I thought of mocking at first but that way my test sometimes would pass and in reality it can be broken,

Also the test is a part of E2E test suite where I would try to keep it away from mocking.

[2019-05-01 16:13] anescobar1991 commented on #136
Can you manipulate the image prior to feeding it to `toMatchImageSnapshot`?

I would rather keep any manipulation like that out of the matcher. See #44 for a bit more detail on our philosophy.

[2019-05-01 16:13] #136 closed

[2019-05-01 16:16] anescobar1991 commented on #135
Can you provide a repro? Assuming that is a valid png image there should not be any issues. Are you able to manually open the image you are feeding? As a sanity check can you remove your `__image_snapshots_` directory just to be sure that an image in there is not corrupted?

On another note are you able to run https://github.com/americanexpress/jest-image-snapshot/blob/master/examples/__tests__/lo

[2019-05-01 21:23] compulim commented on #112
The other option would be, when we update snapshot, we also continue to output the diff. Diff != error.

In this way, it is much easier to spot the difference than most diff tools available today.

[2019-05-02 03:32] anescobar1991 commented on #112
@compulin that option is interesting! Would you mind opening a pull request?

[2019-05-13 04:14] TidyIQ opened #137 "Filename of snapshots are too long to be added to git"
The saved filenames for the image snapshots can sometimes be too long to be added to git. Particularly for tests that involve nested `describe()`'s and long test descriptions. Is there any workaround to this?

[2019-05-13 04:18] TidyIQ commented on #137
I fixed the issue. It was an issue with git bash, not jest-image-snapshot. I ran the following command and now I can upload the images fine:

[code]

[2019-05-13 04:18] #137 closed

[2019-05-14 17:04] adamchenwei opened #138 "[feature/question] need to capture generated snapshot file url per test, anyway can save the diffOutputPath differently?"
so in failure message, jest smashing all the message together including the image shot related error `See diff for details:....` I am not sure how to extra it properly.

And I saw in the `src/index.js` its actually a variable! `result.diffOutputPath`
is there way that, I can capture this `result.diffOutputPath` as a stand alone var so its easier for me to capture it in each test iteration without

[2019-05-14 19:32] anescobar1991 commented on #138
There is not a way to do that in Jest right now. I would open an issue in their project about this feature request though!

[2019-05-14 19:32] #138 closed

[2019-05-15 14:50] abhijit945 commented on #135
Yes and Yes for both questions. The result is the same. Ill work on creating a small example. (Sorry for the delay).

[2019-05-16 20:13] anescobar1991 commented on #133
Closed this issue as it is fixed with https://github.com/americanexpress/jest-image-snapshot/commit/d382e0176a184e60ee2da3da745d726f2a3a4515 (landed from internally at amex).

[2019-05-16 20:13] #133 closed

[2019-05-17 20:06] mattrabe commented on #92
@itaylor Were you ever able to follow up with a documentation PR? I've just implemented this solution and it seems to be working (yay!). I don't see it in the docs, though... I'd be happy to create a doc PR unless it's already been done and I just can't find it.

### Some useful information:

**Important info for husky users trying to integrate Git LFS hooks:** https://github.com/typicode/husky/is

[2019-05-17 20:08] mattrabe commented on #45
For more information on using Git LFS, see https://github.com/americanexpress/jest-image-snapshot/issues/92#issuecomment-416111140

[2019-05-21 14:45] pburkindine opened #139 "Image tiling"
I am having a lot of issues with viewport snapshots vertically tiling (sporadically) rather than capturing the entire viewport.  This is in an Angular 7 app.  It seems to happen more consistently with Electron than Chrome.

[2019-05-21 17:00] anescobar1991 commented on #139
Can you give more detail? Do you mean the actual image you provide to toMatchSnapshot? If so that is not within the scope of jest-image-snapshot.

[2019-05-21 18:32] pburkindine commented on #139
yes, apologies, I dug into the code and the screenshots themselves are generated by cypress.  I will file a bug there.

[2019-05-21 18:32] #139 closed

[2019-05-28 02:23] JamesSingleton commented on #112
@compulim when you update the snapshots you want to output the diff between the previous image snapshots and the new ones created? I guess we would need to find a way to distinguish between a diff from an update and a diff from an actual mismatch while testing.

I feel to satisfy @jacobweber we would need to do the following:

1) On initial run of browser testing save image snapshots like normal
2

[2019-06-02 23:42] mattrabe commented on #61
@thomasbertet Thank you for the PR which I see got merged. However, I can't seem to get it to work. I'm running jest with `--watch` and when a jest-image-snapshot test fails, I get the following:

[code]

...no mention of `i` or `u`. Am I missing something?

[2019-06-07 15:53] 10xLaCroixDrinker commented on #92
@mattrabe that would be great

[2019-06-07 16:55] anescobar1991 commented on #135
I’m closing this issue due to inactivity and because it is unlikely that it is an issue with jest-image-snapshot. Feel free to reopen once you have a simple repro!

[2019-06-07 16:57] anescobar1991 commented on #62
Resolved by #140.

[2019-06-07 16:57] #62 closed

[2019-06-13 01:11] abhijit945 commented on #135
Alright! Sorry for the delay.
Here is the repro repo: https://github.com/abhijit945/jest-image-snapshot-electron
You can ignore the files within `src/` entirely, I just got carried away.
All you need to do is:
[code]
You will get: `1 passed and 1 failed` with `Error running image diff.`
Comment `runner` and `testEnvironment` properties within `jest.config.js` and run:
[code]
The snapshots should g

[2019-06-13 01:12] abhijit945 commented on #135
I am unable to reopen this issue 😄

[2019-06-13 01:23] anescobar1991 commented on #112
So I spent some time thinking about this issue (8 months apparently...) and I don’t think it fits into the jest-image-snapshot model.

The goal for this library is to simply be like Jest’s toMatchSnapshot matcher but for images. Adding a flag to update the snapshot even if it has failed is so drastically different from that model that i don’t think it makes sense in this library.

Tests failing an

[2019-06-13 01:23] #112 closed

[2019-06-13 01:52] anescobar1991 commented on #135
Ah! jest-image-snapshot only supports png images. That’s why you are getting that error.

I would accept a PR to log the actual error in addition to the generic “Error running image diff” error you received or to have the matcher check the image type prior to attempting to do anything with it. Would have made this much easier to debug.

[2019-06-13 02:04] abhijit945 commented on #135
It's still there when I add a `png` file. Originally, it was a PNG as mentioned in the issue description.

Updated the repo with a png test.

**With Electron runner**
![image](https://user-images.githubusercontent.com/4908886/59398309-5e93ec80-8d55-11e9-9631-5887cb8045cb.png)

**Without Electron runner**
![image](https://user-images.githubusercontent.com/4908886/59398317-6b184500-8d55-11e9-9611-e5

[2019-06-13 02:20] anescobar1991 commented on #135
Okay I will take a look tomorrow.

[2019-06-13 16:28] anescobar1991 commented on #135
I am also seeing this error:

[code]

Which leads me to think that for some reason spawning a new process within Electron as we do to execute https://github.com/americanexpress/jest-image-snapshot/blob/master/src/diff-process.js is causing an issue... jest-image-snapshot assumes it is running within node but if you switch to the electron runner and environment that is no longer the case and I beli

[2019-06-13 16:28] #135 closed

[2019-06-21 16:22] lurock opened #142 "Can you make a new release for the customSnapshotIdentifier to be a function"
I see the new changes for the customSnapshotIdentifier to be a function is merged into master but has not been packaged.  Can you please cut a new release and publish to npm these changes?

[2019-06-24 19:44] anescobar1991 commented on #142
Hopefully tomorrow I will be able to!

[2019-06-25 22:49] anescobar1991 commented on #142
2.9.0 has now been published.

[2019-06-25 22:49] #142 closed

[2019-07-04 07:27] ifiokjr commented on #92
In case anyone has setup LFS but is struggling to get the tests to pass on **Azure Pipelines** you will need to add the following step (preferably at the beginning of your pipeline).

[code]

See [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#checkout) for more information.

By default, LFS is switched off and so without this update will se

[2019-07-08 21:10] zgudlin commented on #34
I agree, it would be a very helpful feature to have, especially since many other similar tools have it. I have been researching different tools for diffing screenshots and have not found one that has _everything_ I need/would like. If jest-image-snapshot had a way to ignore regions or elements, it would pretty much cover everything I am looking for in a testing tool for image diffs. I know cypress

[2019-07-08 21:18] zgudlin commented on #136
One of the benefits of using jest-image-snapshot is that it works well with the Puppeteer framework for automation purposes. I have tests set up in which the screenshot of a page, or a portion of the page, is taken via Puppeteer and immediately passed to the toMatchImageSnapshot function for comparison. It is convenient to have it done in real time that way. Having to manually go in and edit an im

[2019-07-09 01:57] anescobar1991 commented on #136
@zgudlin I am not suggesting anything be done manually, what I am suggesting is that in your code after taking the screenshot you use [pngjs](https://www.npmjs.com/package/pngjs) or a similar library to black out/blur/whatever the section of the screenshot you wish to ignore and then you pass that modified image to jest-image-snapshot.

The same logic I am being asked to place inside jest-image-sn

[2019-07-09 13:37] zgudlin commented on #136
@anescobar1991 Thank you for the response. I realized that what I am really looking for is a way to blackout/ignore sections of the page in puppeteer, which as you mentioned is not currently available to do.

I looked into [wdio-image-comparison-service](https://github.com/wswebcreation/webdriver-image-comparison/blob/master/docs/OPTIONS.md#compare-optionsl) recently and was pleased with their opt

[2019-07-09 22:29] theKashey opened #144 "Replace pngjs"
With all respect (to pngjs and javascript) - `pngjs` shall not be used for image operation due to the catastrophic speed.

Opening or saving a single png file 800x600 is usually taking at __least half second__. And any other javascript-based library is no better.

The only feasible solution is to use [cairo](https://cairographics.org/)-backed libraries, such as [node-canvas](https://github.com/Aut

[2019-07-15 16:18] anescobar1991 commented on #144
I understand your reasoning however it was a deliberate design choice to go with a node native image diff utility that doesn’t rely on installing or compiling any binaries on install.

If speed is your limiting factor feel free to use a non JS image diffing utility.

[2019-07-15 16:18] #144 closed

[2019-07-16 12:25] Anahkiasen opened #146 "Add option to disable hasSizeMismatch"
This has been brought up in the past (eg. #83) but the proposed solution at the time was to manipulate the images using Jimp to crop them.

When my tests run on CircleCI the screenshots are taken on Ubuntu with slightly different font smoothing which offsets things by 1px, but there is nothing to crop here. I made the failure treshold higher and that's fine but my tests still fail on image dimensi

[2019-07-22 17:28] anescobar1991 commented on #146
I think you should set it up to create the snapshots locally in the same docker set up as on CircleCI otherwise you will have more issues like this one crop up in the future with image differences that are not reproducible on your local machine.

I would suggest setting that up instead of adding a feature to jest-image-snapshot that allows different images to be seen as the same.

[2019-07-22 17:28] #146 closed

[2019-07-23 09:34] Anahkiasen commented on #146
But I don't want to add Docker, because I'm on OSX, and it takes 30/40mn to create the screenshots. I understand where you're coming from, but it's just an option, I don't really see the harm in it and why "Setup a whole virtualization layer" is to you a better answer than just making it configurable. If I can set my failure treshold to 98% and ignore every error why can't I ignore a dimensions fa

[2019-08-20 08:37] Alivejke commented on #136
Don't forget that in cases like this one you can always just find the dom node with Puppeteer and remove/modify it (setting visibility: hidden on block should be enough). You can implement a simple helper and feed it selectors which you want to hide per test/snapshot.

[2019-08-23 23:38] sibyldawn opened #149 "TypeError: Cannot read property '_counters' of undefined"
I would love to know how this can be solved. Thank you!

[2019-08-23 23:49] jsmartfo commented on #149
@sibyldawn can you give some more detail, which version of jest etc.

[2019-08-24 01:12] sibyldawn commented on #149
Adding the correct Jest version helped.

[2019-08-24 01:12] #149 closed

[2019-08-24 16:45] anescobar1991 commented on #136
@alivejke would you be open to opening a PR to the Readme describing what you just suggested?

[2019-08-26 11:36] Alivejke commented on #136
@anescobar1991  Sure, will do somewhere this week

[2019-08-27 08:44] thomasbertet commented on #51
@kandros did you manage to hack something ?
I might be interested to push forward the interactive mode especially, not sure its something you started doing. Please let me know :)

[2019-08-27 09:03] thomasbertet commented on #112
@anescobar1991 I appreciate your thoughts on the matter, tools like this one are evolving in multiple ways, utlimately its up to you in which directions, but I believe the use case is becoming more and more common. The more people are used to image snapshotting, the more tests they get.

I mean, I have 400 generated images, all running though this jest plugin. When I do change something in my code

[2019-09-11 20:45] jepstein-eagle commented on #62
This issue is marked resolved by #140. That does help by allowing us to customize the `customSnapshotIdentifier`. However, we can not use a function to configure the snapshots directory, as would allow for some additional use use-cases. Can we enable the `customSnapshotsDir`to use a similar function?

[2019-09-11 22:07] anescobar1991 commented on #62
Yeah feel free to open a PR implementing that!

[2019-09-12 12:59] sattaman opened #151 "Use library for canvas diffs"
I'd like to use this library for diffing canvas renderings.

I've been trying to get this to work but so far been unsuccessful. Do you know if this is possible without saving the png physically? Thanks

[code]

[2019-09-12 14:00] #151 closed, assigned to nobody

[2019-10-07 20:36] astritademi62 commented on #99
How do I configure it so that it doesn't fail if the size of the images is slightly off? My snapshot is wider by about 100 units (snapshot 800/9100, screenshot 800/9000).

[2019-10-08 22:30] johnnymast opened #153 "It would be nice to be able to cross compare images."
Hello,

I am not sure how to explain this request. I am developing a javascript game engine with two different renderers.  The two renderers are Canvas and WebGL, it would be cool to cross compare screenshots to one of the two source snapshots.

Let's say my source test is (canvas) http://127.0.0.1:8080/tests/visuals/graphics/basic_rect.html

It would be cool if I somehow cross-check both the WebG

[2019-10-13 19:00] anescobar1991 commented on #153
So you want to compare 2 images against the same stores snapshot? I think that use case is a bit beyond the scope of this as it adds some complication since we are using the jest-snapshot API and trying to stay as similar as possible to it.

Is there a reason why you are unable to use toMatchSnapshot once for each image? It would generate 2 stores snapshots but as long as you make sure they are th

[2019-10-16 22:13] olive007 opened #154 "BUG: customSnapshotIdentifier not customisable with configureToMatchImageSnapshot"
This following code doesn't work. Even if this is explained into the documentation.
[code]

[2019-10-17 03:24] anescobar1991 commented on #153
It's a bit of a manual validation for the first time you upload the images but could you do something like:
[code]

Anyways closing this issue, though we can continue the conversation, since this is not something we plan on implementing anytime soon.

[2019-10-17 03:24] #153 closed

[2019-10-17 03:26] anescobar1991 commented on #154
Yeah I think you are right, in https://github.com/americanexpress/jest-image-snapshot/blob/master/src/index.js#L132 this is hardcoded when it should take the parameter in.

Would you be willing to open a PR to fix this?

[2019-10-21 14:38] andreabisello opened #156 "small differences on the same image captured on headless : true / false mode"
in some case,
taking screenshot of some images,
i obtain a small differences of the same images changing between headless or not headless mode of puppeteer.

everything updated to latest version.

![login-page-test-js-test-delle-funzionalita-della-pagina-di-login-hai-dimenticato-la-password-1-diff](https://user-images.githubusercontent.com/2149815/67214828-b0920080-f420-11e9-9358-503ebb756650.png)

[2019-10-22 13:53] andreabisello opened #157 "How to embed diff in report?"
i would like to embed the diff images in some kind of html report.

i'm using jest-html-reporter

any suggestion?

thanks.

[2019-10-23 10:14] andreabisello commented on #156
there is a font problem in the website.
a required font is not found.
maybe the problem is related with the browser callback chain when font is not found.
now im asking to restore the font,
if the problem is related with the font,
i will move this issue on google puppeteer.

[2019-10-26 23:45] anescobar1991 commented on #156
This issue

[2019-10-26 23:45] #156 closed

[2019-10-26 23:46] anescobar1991 commented on #157
Internally we have an html report creator for Jest that handles the diff images in case of failures. I will look at open sourcing that in the future. Closing this and will comment on here when I get to open sourcing that.

[2019-10-26 23:46] #157 closed

[2019-11-05 11:29] andreabisello opened #158 "return image diff buffer"
with https://github.com/zaqqaz/jest-allure it's easy to attach screenshot to the report :

[code]

if toMatchImageSnapshot api returned the diff buffer,

it can be nice to do something like  :

[code]

[2019-11-13 16:49] andreabisello opened #159 "unable to take screenshot Error: New snapshot was not written. The update flag must be explicitly passed to write a new snapshot."
running

[code]

in atlassian bamboo continous integration,

with node 12.13,
jest , puppeteer, everything updated,
on a windows 10 updated environment,

i obtain **unable to take screenshot Error: New snapshot was not written. The update flag must be explicitly passed to write a new snapshot. This is likely because this test is run in a continuous integration (CI) environment in which snapshots a

[2019-11-14 16:04] anescobar1991 commented on #159
what version of Jest are you using? That behavior is controlled by Jest. Do you have a repro?

[2019-11-14 16:10] anescobar1991 commented on #158
Could you instead grab the diff snapshot from the `__diff_output__` directory and then pass it to `jest-allure`? I am not sure we want to add this functionality as it seems a bit unnatural to use `try catch` in a test.

[2019-11-14 16:10] #158 closed

[2019-11-14 16:12] #154 closed

[2019-11-14 16:27] andreabisello commented on #159
@anescobar1991 i will make a github repository for sharing.

[2019-11-14 16:58] andreabisello commented on #159
@anescobar1991
i created this
https://github.com/andreabisello/jest-image-snapshot-example
but it works.
so i rebooted the windows machine with bamboo instance,
and it works.
maybe there is something hanged.

[2019-11-14 17:01] andreabisello commented on #158
@anescobar1991 the try catch is used to get information about assertion failing.
you can forget the try catch method, anyway yes, i can grab the diff created.

[2019-12-02 16:26] andreabisello commented on #156
@anescobar1991 the font issue was solved but the problem stay here.
i was able to reproduce the problem in a public environment.
please clone my repository https://github.com/andreabisello/jest-image-snapshot-example
you will find a test in the file headless-differences.test.js called "headless and not headless screenshot should to be the same".
run in headless mode : the screenshot will be genera

[2019-12-06 08:20] Xmel89 opened #162 "compare diff size"
Add please a function for matching different sizes of images.. Now I can delete line 67 in index.js

[2019-12-17 11:50] andreabisello commented on #159
@anescobar1991  please take a look at this Bamboo run

![image](https://user-images.githubusercontent.com/2149815/70993044-6600cd80-20cb-11ea-9b17-db949bac2434.png)

one screenshot was taken (the second), two not (the first and the thirt).

the differences is that the working screenshot was taken by await page.screenshot() api, the not working are taken by jest-image-snapshot.

any suggestion?

[2019-12-17 15:15] anescobar1991 commented on #162
Did you take a look at the previous discussion about this? https://github.com/americanexpress/jest-image-snapshot/issues?utf8=%E2%9C%93&q=size

[2019-12-17 15:15] #162 closed

[2019-12-17 15:23] anescobar1991 commented on #159
@andreabisello I don't understand the image you attached to your comment. It shows 3 separate failures.

jest-image-snapshot does create images or take screenshots, you as the user take an image and pass it to jest-image-snapshot` and then the only thing jest-image-snapshot is responsible for is the comparison.

Is that repro you attached still relevant or do you want to update it? Is this issue r

[2020-01-03 14:48] anescobar1991 commented on #159
I am closing this for now.

[2020-01-03 14:48] #159 closed

[2020-01-03 15:23] andreabisello commented on #159
@anescobar1991  sorry i never saw your answer.

you are right.

yes close the issue for now, if i will able to understand better what is going on i will update.

thanks again

[2020-01-04 04:03] white-room commented on #112
I find myself in the same situation as @thomasbertet. It would save a lot of time to have the option of storing the new snapshot used in the diff when there's a failure so that we could speed up the feedback loop and unblock builds more quickly. Maybe the disconnect is thinking of it as a feature to update failed snapshots vs just storing the new snapshot somewhere when the diff is created.

The l

[2020-01-14 22:38] abhagupta opened #166 "Examples of component level screenshots"
I see the examples folder has examples for capturing screenshots of whole app, but not of individual components.   We need to take screenshots of the components to reduce the noise that may come in full page screenshots.. any suggestion here?

[2020-01-15 19:59] anescobar1991 commented on #166
jest-image-snapshot does not directly create an image so the solution would depend on what you are using to create your image. If using puppeteer [their API docs](https://pptr.dev/) may be of help.

[2020-01-15 19:59] #166 closed

[2020-01-22 20:54] priyajeet opened #169 "Update peer deps to allow Jest 25"
https://jestjs.io/blog/2020/01/21/jest-25

[2020-01-27 07:31] adrianjost commented on #85
Just in case anyone will stumble across this Issue in the future: I can recommend [sharp](https://sharp.pixelplumbing.com) instead of JIMP because of performance reasons in favor of a bit less compatibility.

Our Performance Results:
Without manipulation images: ~3min
With Jimp autocrop: ~10min
With ahrp: ~3.5min

[2020-01-29 16:59] #169 closed

[2020-01-30 22:00] sandgraham opened #173 "Using retryTimes with the update flag"
Hi, I was hoping that when I ran `jest -u` with `jest.retryTimes(n)` enabled it would update a snapshot only after a snapshot failed `n` times. It seems that instead Jest updates the snapshot on the first failure and moves along.

This might be an underlying Jest issue, but I was curious if this was something that might be supported by `jest-image-snapshot` since image snapshots can be flakey, eve

[2020-02-05 10:51] tinganho opened #175 "VSCode Jest plugin integration"
Hi, I'm wondering if any of you know any integration with VSCode jest plugin? So you can update and view snapshot inside VSCode.

[2020-02-10 03:20] kolodny opened #176 "Add async matchers"
Right now each matched snapshot takes on the order of seconds, while this is probably fine for most uses, node does excel at async operations. Would it make sense to add something along the lines of an [async matcher](https://jestjs.io/docs/en/expect#async-matchers) so that jest-image-snapshot can parallelize that heavy bit of work? I'm thinking something along these lines:

### before
[code]

###

[2020-02-12 05:11] abhagupta opened #177 "Test passing in local but not in CI"
I am using circle ci for my project and the tests to compare image snapshots are passing locally, but not in CI.  I cannot see the images yet since I am not uploading them yet anywhere, but I see there is a small percentage of differences from existing images making me thing that different machines are comparing images differently. The original snapshots are taken on my mac vs  circle is using som

[2020-02-12 11:26] Santas commented on #177
This is an expected behavior, because different OSs render some details differently. You can run your tests locally in Docker with same image to get the same environment as in CircleCI or allow for some difference through `failureThreshold` option.

To see the diffs try [uploading artifacts](https://circleci.com/docs/2.0/artifacts/) in your CircleCI config:
[code]

[2020-02-15 21:42] anescobar1991 commented on #177
An approach we use to help with this brittleness across different operating systems is to run the tests in a docker container. You may also look into that to help you with your issue.

I am closing this issue since it is not related to jest-image-snapshot itself which is only responsible for comparing the snapshots and nothing else. We can still continue the conversation though!

[2020-02-15 21:42] #177 closed

[2020-02-15 21:43] anescobar1991 commented on #173
This is an underlying issue and supporting it is not really possible from our side since we the `jest.retrytTimes` functionality is not ours :(

[2020-02-15 21:43] #173 closed

[2020-02-15 21:44] anescobar1991 commented on #176
I think this would be a great idea! I would want to still include the synchronous matcher for backwards compatibility though but definitely feel free to submit a PR when you have something ready!

[2020-02-16 10:14] barakbs1 opened #178 "How to use 'customSnapshotIdentifier'?"
Hi everyone,

can you please provide an example how to use 'customSnapshotIdentifier'? In my case I want to get rid of testPath in the image naming convention.

Thanks!

[2020-02-17 02:27] anescobar1991 commented on #178
I think what you want is to make use of both “customSnapshotsDir” and “customSnapshotIdentifier”.

Have you taken a look at https://github.com/americanexpress/jest-image-snapshot/blob/master/README.md#%EF%B8%8F-api?

[2020-02-17 02:27] #178 closed

[2020-02-17 03:15] kolodny commented on #176
So I played around with getting pure async matchers in but it seems like the main bottleneck is puppeteer taking the screenshot. My MBP with multiple cores didn't have any speed improvement. I think I'll just attempt to add a simple async variant that only defers comparing screenshots until the afterEach block. I don't imagine any speed improvements with this change though. (If you want to play ar

[2020-02-19 22:16] kirill-konshin commented on #169
https://github.com/americanexpress/jest-image-snapshot/commit/eb3dfa605c0344ac4dc42cb7f9f76a5e4a732592#diff-b9cfc7f2cdf78a7f4b91a753d10865a2 looks like it has not been released though? Version `2.12.0` still has Jest 24.

[2020-02-20 02:48] anescobar1991 commented on #169
Yeah we're working on an update to our release process but should be releasing tomorrow hopefully!

[2020-02-21 19:14] gylaz opened #180 "ENOBUFS failure with big files and `runInProcess: false`"
`runInProcess: false` is the default, thus the image diff will run in a sub-process.
However, default NodeJS `maxBuffer` may not be enough to handle the large file.

This can be solved by implementing an option of `maxBuffer` to be passed to `spawnSync` [here](https://github.com/americanexpress/jest-image-snapshot/blob/0927826776e5fee04ea98cba5cd792aa5066e1fd/src/diff-snapshot.js#L24).

For now, t

[2020-02-21 22:50] l-abels opened #181 "toMatchImageSnapshot produces incorrect snapshot names with multiple async tests"
`toMatchImageSnapshot` relies on global state in order to generate snapshot names.  However, virtually every test relying on it will make use of `async` because of `jest-puppeteer`.  This means that this global state is not a reliable way to produce snapshot names.  This minimal example can produce buggy behavior with the right timing:

[code]

expected behavior:
the test run produces these files:

[2020-02-23 19:01] anescobar1991 commented on #181
I am not sure I agree that `toMatchImageSnapshot` is mostly used with concurrent tests so perhaps the best we do is either add a bit in the README mentioning that concurrent tests are not supported unless you explicitly name your snapshots? Or maybe automatically throw if `toMatchImageSnapshot` is used in concurrent mode without explicitly named snapshots?

Either way I would not want to always re

[2020-02-23 19:02] anescobar1991 commented on #180
Would you like to open a PR to implement this?

[2020-02-24 11:51] edmorrish commented on #180
Hey, just noticed this bug is actually fixed in master (or at least the buffer's big enough for our needs) but hasn't been released yet. Is a release planned soon? Thanks

[2020-02-24 18:13] l-abels commented on #181
@anescobar1991 The examples in the readme all make use of `async` tests, won't that cause tests to run interleaved if there's more than one test like in my example above?  I'm new to `jest`, is having more than one test not common?

[2020-02-24 18:15] anescobar1991 commented on #181
No, Jest only runs each file in parallel by default.  The actual tests within each file run sequentially.

[2020-02-24 18:32] l-abels commented on #181
Okay, thanks for the info.  I'm only seeing this behavior when the first test suffers an error during `page.goto`.  Maybe this issue is with `jest-puppeteer` instead.

[2020-02-24 22:13] kirill-konshin commented on #129
Actually, this is quite useful. For example, if Jest is used with https://github.com/zaqqaz/jest-allure reporting tool it would be very useful to attach diffs to report.

Currently it is not possible because there are no hooks and the only way is to provide `customSnapshotIdentifier` all the time, which is not very handy.

I've created following function as an illustration:

[code]

As you see I e

[2020-02-25 01:42] kirill-konshin commented on #129
There's also a project https://github.com/zaqqaz/jest-allure-image-snapshot but it has copy-paste instead of usage of this package, so maybe consider sharing internal methods to let third party packages to re-implement parts of functionality.

[2020-02-26 03:43] anescobar1991 commented on #181
Closing this for now, feel free to reopen if you have a simple repro indicating the issue is with jest-image-snapshot!

[2020-02-26 03:43] #181 closed

[2020-02-26 03:45] anescobar1991 commented on #180
As soon as https://github.com/americanexpress/jest-image-snapshot/pull/179 is merged we will release!

[2020-02-26 03:45] #180 closed

[2020-02-26 03:46] anescobar1991 commented on #175
Not sure honestly, I was not able to find anything off a quick search. Closing this issue as it is not related to anything within this library.

[2020-02-26 03:46] #175 closed

[2020-02-26 19:53] kirill-konshin commented on #129
I have found a much better way to integrate with `jest-image-snapshot`:

[code]

[2020-02-27 02:20] AmyFoxFN commented on #135
As it's due to the electron environment don't support `childProcess.spawn`, I think maybe we could refer to this [Electron Issue-Support childProcess.spawn for files](https://github.com/electron/electron/issues/22047) to check if have any progress:)

[2020-02-27 05:45] bstst opened #182 "dumpDiffToConsole not base64 string"
With `dumpDiffToConsole` enabled the console output on GitHub Actions CI is binary, not base64.

<img width="1264" alt="image" src="https://user-images.githubusercontent.com/412859/75415704-0af21f00-5935-11ea-9d20-7eb2e1c8f1cd.png">

[2020-02-28 16:24] jmalk commented on #59
I've just run into this issue.

Something that worked for me is:

- After a passing test run (important!)
- Remove all your reference screenshots
- Run `jest` with `-u`

Of course automation would be preferable, but maybe this will help future searchers.

[2020-03-02 15:44] stixaw opened #184 "Possibility to take snapshot of element only not the entire page??"
I am trying to limit the size of my snapshots, I am using this with Storybook.  and when I render the page for testing I would like the jest-image-snapshot to take a snapshot of the element only not the entire defined area.  this would keep the component to being the only thing tested in the storybook.

If this is possible please direct me to where it describes how to do this.

[2020-03-05 05:22] nani554 commented on #184
This is what iam looking for, hope we get solution pretty soon

[2020-03-05 13:44] anescobar1991 commented on #184
jest-image-snapshot is provided an image and that is what it uses for comparison, it doesn't take any snapshots itself. In your case I imagine you are using puppeteer or something similar to take screenshots and then pass them to `.toMatchImageSnapshot()` and so I would look into puppeteer to see if you are able to take an image of a certain part of the page.

[2020-03-05 13:44] #184 closed

[2020-03-17 17:40] #182 closed

[2020-03-23 21:59] dan-kez commented on #169
Hi All just wanted to check if the above update is planned for release sometime soon.

[2020-04-01 00:34] spinus commented on #99
is this relevant anymore?

[2020-04-07 13:18] nickofthyme commented on #59
ack

[2020-04-07 14:02] #176 closed

[2020-04-08 16:46] onx2 opened #195 "Add DefinitelyTyped link to read me"
There is already a package created for type definition. I created a PR to add this to the readme #194

[2020-04-09 03:07] chenshuai2144 opened #197 "use looks-same ?"
pixelmatch diff image is so big,

And its comparison algorithm is too strict, looks the same looks much better, more suitable for e2e

## pixelmatch

![下载](https://user-images.githubusercontent.com/8186664/78853847-7b22b300-7a52-11ea-8c08-4acf372c8a7c.png)

## look same

![to](https://user-images.githubusercontent.com/8186664/78853774-4f9fc880-7a52-11ea-847a-77842c0baadd.png)

https://www.npmjs.co

[2020-04-12 23:56] Sm1t opened #198 "index.spec.js 1 snapshot failed when running test on windows"
how to reproduce:
clone repo to windows 10 PC, run `npm test`

![image](https://user-images.githubusercontent.com/22860327/79082405-2d9e9280-7d3f-11ea-8636-5e25fbab07a6.png)

[2020-04-14 22:17] #198 closed

[2020-04-16 04:37] anescobar1991 commented on #197
At this point we’ll be sticking with pixelmatch. There are ways to control the anti aliasing within the pixel match config we expose to users and we also don’t want to assume that jest-image-snapshot is only used for web visual regression testing.

Also switching to another image diff library would be a breaking change for us.

[2020-04-16 04:37] #197 closed

[2020-04-20 14:00] robross0606 opened #200 "PDF Support"
Would be amazing if this had PDF support, perhaps through integration with compare-pdf.

[2020-04-24 04:42] omnisip opened #201 "Add SSIM Comparison"
Pixel to pixel comparison can fail frequently, but more often than not, it's because of minor variations in rendering and the compression algorithm.  This issue was really common when I worked with designing live video streaming systems, so we switched away from PSNR models to something called SSIM (Structural Similarity).  I believe if this library implements it, it will have significantly less f

[2020-04-25 18:44] anescobar1991 commented on #201
Thanks @omnisip this is interesting!

If you are willing to contribute I think this would be an interesting option to add but before spending too much time on it could you quantify your statement about reducing false positives also spend some time comparing the performance of the diff process (is it faster or slower to diff with SSIM?)

Also looking at the readme for https://github.com/obartra/ssi

[2020-04-26 03:45] omnisip commented on #201
I expect it to be significantly faster and definitely more accurate, but we
won't know until we try. Short answer to your node gyp question, is it's
probably required since it uses 'canvas' as a dependency.

But that's also the reason it's much faster. Pixelmatch has a serious
disadvantage if being in js when lots of vector math is required. It's
actually a double whammy even if it's using uint32

[2020-04-29 14:51] danielo515 commented on #56
@rodoabad would you please share which gitattributes makes your screenshots to work properly? I have them setup to binary and it fails, I tried setting them to text, and also removing it and also fails. What is the correct one?

[2020-04-29 16:34] anescobar1991 commented on #201
Go ahead and try it out @omnisip!

[2020-05-08 01:21] patrickhulce commented on #59
To speed things along and make this more immediately actionable without upstream changes I wonder if we could at least implement a hacky workaround in jest-image-snapshot.

For my use case, I'd be happy if there was just an extra command or environment variable to separately clean up the snapshots dir. Manually comparing the names or wiping out our several hundred snapshots to regenerate from scra

[2020-05-09 03:09] chaffeqa opened #203 "OSX Note"
We are running into issues where snapshots we generate locally (on dev OSX machines) are failing compared to github action comparison tests.

Based on the attached screenshot, my feeling is this is actually because [of this discrepency in running "headless" chrome on OSX vs headless chrome on linux](https://github.com/puppeteer/puppeteer/issues/2568).

If I'm correct, this is probably a fairly nor

[2020-05-09 16:33] anescobar1991 commented on #203
Yes, we have the same issue internally at American Express. This is why we recommend that you run your visual regression tests run inside a docker container as to guarantee repeatable results across operating systems (especially since most of our engineers use macOS but CI servers are almost exclusively linux based).

There are several examples online that demonstrate how to run Jest tests inside

[2020-05-09 16:33] #203 closed

[2020-05-11 12:54] AndrewLeedham opened #204 "Upgrade to Jest 26"
Jest 26 was released last week. The current peerDependencies range for this plugin is `"jest": ">=20 <=25"`. It seems like this plugin already requires node 8+ so assuming all the tests pass, I think it should just be a case of updating the development version and the peer dependency range.

[2020-05-11 15:09] anescobar1991 commented on #204
Yeah I think that assumption is right, want to open a PR?

[2020-05-11 16:39] AndrewLeedham commented on #204
Hmm actually seems jest 26 drops support for Node 8, so would need to do the same here.

[2020-05-13 13:26] anno1985 opened #207 "Will jest-image-snapshot work with Angular components, too?"
You state in your [features section](https://github.com/americanexpress/jest-image-snapshot#-features):

Will jest-image-snapshot work with Angular components, too? :slightly_smiling_face:

[2020-05-13 15:35] anescobar1991 commented on #207
Yes it will! Works with any png image you provide! It doesn't care what the image is of.

[2020-05-13 15:36] anescobar1991 commented on #207
Opened up https://github.com/americanexpress/jest-image-snapshot/pull/208

[2020-05-13 21:55] lukasoppermann opened #209 "Fails when used with jpeg"
Hey,
as it its supposed to be faster on macs I want to switch to jpeg for the screenshots, however the tests fail when using jpegs.

I get the following error message:

My code is the following (both .jpg and .jpeg produce the error. Changing to .png and type png makes it work.)

[code]

Is this a bug or am I doing something wrong?

[2020-05-14 02:25] anescobar1991 commented on #209
jest-image-snapshot only supports `png` images at this time.

[2020-05-14 02:25] #209 closed

[2020-05-14 13:42] #207 closed

[2020-05-14 17:59] #204 closed

[2020-05-14 18:00] anescobar1991 commented on #200
Thanks for the idea! I think for now we will keep this simple and only support `png` though.

[2020-05-14 18:00] #200 closed

[2020-05-14 18:38] omnisip commented on #201
I was incorrect about it requiring separate dependencies or OS specific
dependencies.  That's only if it needs a special image loader.

Here is an example of how much better it works.

These two files are the same -- except one has been converted to jpg.
The SSIM is 0.9999278172146295 with the fastest transformation (bezkrovny).

Using a pixelmatch or an equivalent algorithm, I end up with 96K pix

[2020-05-14 23:18] anescobar1991 commented on #201
This is great news! How much faster is it?

[2020-05-15 03:01] omnisip commented on #201
How do we build a good test? Do you have a set of sample images you want to
churn through?

On Thu, May 14, 2020, 17:19 Andres Escobar <notifications@github.com> wrote:

[2020-05-15 03:03] anescobar1991 commented on #201
We have not done much in terms of performance testing before but we do have integration tests defined in https://github.com/americanexpress/jest-image-snapshot/blob/master/__tests__/integration.spec.js and a set of test images in https://github.com/americanexpress/jest-image-snapshot/tree/master/__tests__/stubs

[2020-05-15 03:14] omnisip commented on #201
I'll check them. It's going to sound strange, but PNG might not be ideal
for the analysis itself. You'd think it'd be best, but it's performance is
going to die when text and images are merged together, it's also not
particularly fast at decoding.

Jpeg might be a lot better for this application since it will always be
first pass (single generation loss) and the files will be a lot smaller. I
need

[2020-05-15 04:04] omnisip commented on #201
Preliminary analysis shows pixelmatch being faster by about 5x in your best
cases (where there's a lot of identical adjacent pixels e.g. same color),
and 2x slower in your worst cases based off of the samples in your
repository.

Analysis wise though, there's no contest.  SSIM is significantly better.

E.g.  TestImage vs. TestImageFailure returns *21.6% difference* in pixels
per pixelmatch, wherea

[2020-05-19 12:13] lukasoppermann opened #210 "Error: "Error running image diff." for large images"
Hey,

for some of my tests I get the error `Error running image diff.`.
As those are the longest pages e.g. ` 14252px` I assume the length is the deciding factor.

Other pages work fine. The diff file was also created and is in the folder.

Can I do something to fix this (e.g. is there a config option I missed)?

[2020-05-26 15:33] shaodahong opened #215 "baseline snapshot files support output base64"
For large projects, storing baseline image snapshots on GitHub will generate a lot of git history

hoping to support base64 output

or have another way?

[2020-05-26 15:45] anescobar1991 commented on #215
https://github.com/americanexpress/jest-image-snapshot/issues/92

[2020-05-26 15:45] #215 closed

[2020-05-26 15:47] anescobar1991 commented on #210
Not sure, can you try to come up with a test to easily replicate and see if there is something we can do? Likely this is an issue downstream with pixelmatch but we could take a look.

[2020-05-27 16:04] #114 closed

[2020-05-27 16:04] anescobar1991 commented on #201
Want to open a PR to add this as an option? The reason I am saying it should be an option is that I don't think we should have another breaking change anytime soon.

[2020-05-27 16:23] anescobar1991 commented on #195
Closed with #216

[2020-05-27 16:23] #195 closed

[2020-05-28 04:47] lukasoppermann commented on #210
Hey, sure here is a test case that replicates the error. I hope that helps. Please let me know if anything in my code does not make sense and I can test if changes there fix it.

[code]

[2020-05-28 04:53] lukasoppermann commented on #209
Hey, apparently it should be possible to add jpeg support using https://github.com/eugeneware/jpeg-js (https://github.com/mapbox/pixelmatch/issues/63) would it be okay to open a new ticket as a feature request to add jpeg support? @anescobar1991 ?

I have read multiple times that this could speed up tests significantly.

[2020-05-28 07:51] mdugue commented on #156
@andreabisello were you able to solve your issue?

[2020-05-28 13:15] andreabisello commented on #51
i'm subriscribing this issue because i'm searching for something in order to add the imagediff on the html report.

i would like to

* embed image diff in html report (i'm using https://www.npmjs.com/package/jest-html-reporter , but i can change)
* embed image diff in atlassian bamboo test result (if possible)

someone can suggest me a simply way to obtain mainly the first bullet point?

thanks.

[2020-05-28 13:38] andreabisello commented on #156
@mdugue  i will upgrade puppeteer, jest and jest-images-snapshot to the latest version and i will try , wait a moment

[2020-05-28 14:02] andreabisello commented on #156
@mdugue i updated my project with latest version of puppeteer, jest and jest-image-snapshot, problem still the same.

[2020-05-28 14:03] andreabisello commented on #156
@anescobar1991  the problem was not related with the font as i described when the issue was closed because the font issue was solved but the difference still there. can you reopen the issue please?

[2020-05-28 14:45] mdugue commented on #156
@anescobar1991 yes I can confirm that this problem still exists

[2020-05-28 15:39] anescobar1991 commented on #156
The issue is not with jest-image-snapshot sadly, all jest-image-snapshot does is do an image comparison. Have you tried playing with the blur options to see if they help?

Can also watch this issue https://github.com/americanexpress/jest-image-snapshot/issues/201 as when implemented that should solve a lot of these issues.

This is why image comparison is hard, changes that are not visible to the

[2020-06-01 14:31] rodoabad opened #218 "Take snapshot of specific element"
Is there a way to take a snapshot of a specific element?

[2020-06-01 16:56] anescobar1991 commented on #218
jest-image-snapshot does not take the snapshot, it just gets a provided image and stores it and diffs so this question is not really within the scope of this repo.

If using puppeteer there is a recipe that shows you how to do that: https://github.com/americanexpress/jest-image-snapshot#ignoring-parts-of-the-image-snapshot-if-using-puppeteer

Otherwise you will need to refer to the documentation o

[2020-06-01 16:56] #218 closed

[2020-06-01 20:42] Kjens93 commented on #59
Anyone have any ideas on how this could be done manually?

[2020-06-01 21:01] patrickhulce commented on #59
@Kjens93 if it helps we did something hacky for ourselves while we're waiting for a response here.

1. Add a `setupFilesAfterEnv` file that records which test you're in
2. Replace `expect(image).toMatchImageSnapshot()` with a helper function that records `jasmine.currentTest` and prints them to a file, the snapshots are named after the currentTest name.
3. Write a quick shell script that you can r

[2020-06-02 09:29] mdugue commented on #156
@anescobar1991 that makes sense. Thanks. SSIM would be 💯. Do you know any good examples with the blurring approach? I'd be curious on good thresholds ets

[2020-06-02 09:31] mdugue commented on #201
this sounds really convincing. Can't wait to see further progress here

[2020-06-12 12:39] Kradirhamik commented on #210
Hi, this is happening to me to a lot. Curious though I cannot reproduce this issue locally, only when running on CI environment through TeamCity build pipeline

[2020-06-12 12:42] Kradirhamik opened #219 "Update flag must be explicitly passed to write a new snapshot on CI"
Hi,

When running my visual tests on CI I get this failure:

Now, why does this happen? If I have stored in my repo the images I want to compare against, why would I want to update these? I just want the test to run and compare against the images stored.

Sorry for the noob question, new world to me

[2020-06-16 16:35] omnisip commented on #201
En route guys, en route.

On Tue, Jun 2, 2020 at 9:31 AM Manuel Dugué <notifications@github.com>
wrote:

[2020-06-17 21:06] omnisip commented on #201
The PR should work perfectly without any breaking changes to existing users.  SSIM is implemented as a new comparisonMethod with the default being pixelmatch.  I'm really looking forward to seeing and hearing your feedback! :-)

[2020-06-17 21:32] omnisip commented on #156
@andreabisello If you can send me this two images (original and update snapshots) as the original pngs, I can add them to the test suite in PR #220

[2020-06-17 21:44] omnisip commented on #219
@Kradirhamik

Thanks for the important question.  Do you expect your CI to be generating commits for missing snapshots when they arise?  If not, how would you know whether a test passed or failed?

[2020-06-19 09:53] andreabisello commented on #156
@omnisip  thanks

[this ](https://github.com/andreabisello/jest-image-snapshot-example/blob/master/headless-differences.test.js)is the test to obtain the images

the images are the login box container of this url https://legaltest.solutiondocondemand.com , withouth the timepicker at the bottom of the box.
![captured in headless mode](https://user-images.githubusercontent.com/2149815/85120401-7bde7

[2020-06-19 12:25] omnisip commented on #156
Do you want this to succeed or fall? In these images, the button is clearly
highlighted in focus and different.

On Fri, Jun 19, 2020, 03:53 Andrea Bisello <notifications@github.com> wrote:

[2020-06-19 14:17] andreabisello commented on #156
@omnisip  sure, and this is the initial problem : the same images captured on headless / gui mode has small differences : who is generating the images? puppeteer or jest-image-snapshot?

[2020-06-19 14:24] omnisip commented on #156
Puppeteer.

On Fri, Jun 19, 2020, 08:17 Andrea Bisello <notifications@github.com> wrote:

[2020-06-19 14:25] andreabisello commented on #156
@omnisip  ok so the issue can be closed, i'll move on puppeteer.
thanks.

[2020-06-19 15:23] omnisip commented on #156
For this particular issue, I would check to see if you have wonder
JavaScript running after the page loads.

If you understand how puppeteer works, you'll recognize it's just taking a
snapshot of chrome's rendering. It's entirely possible for a split second
some JavaScript is executing that hasn't fully resolved or such. It would
lead me to believe that there might be a bug on the page itself with

[2020-06-25 09:48] andreabisello commented on #156
@omnisip the test was already waiting for network activities

[code]
anyway i added

[code]

but nothing changed.

i also tried upgrading everything to latest

package.json
[code]
updating chromium to r756035

and nothing changed.

[2020-06-25 09:58] andreabisello commented on #156
i attached the two screenshot using page.screenshot api ,
the problem is puppeter / chromium related because you can easily see the difference in the the login button.
i will move on puppeter.
thanks.
![headless](https://user-images.githubusercontent.com/2149815/85698511-066b2680-b6db-11ea-8500-4b11e0a88ee7.png)

![gui](https://user-images.githubusercontent.com/2149815/85698507-0539f980-b6db-11ea-

[2020-06-25 10:30] andreabisello commented on #156
i created https://github.com/puppeteer/puppeteer/issues/6101

[2020-06-25 17:18] omnisip commented on #156
Fascinating. Thanks for sharing.

On Thu, Jun 25, 2020, 04:31 Andrea Bisello <notifications@github.com> wrote:

[2020-06-30 17:03] omnisip commented on #210
Are you able to print a stack trace of where it is throwing?

[2020-07-01 06:33] lukasoppermann commented on #210
Hey @omnisip what I get is the following:

    Error running image diff.

      67 |     })
      68 |     // compare screenshot

         |                   ^
      70 |       filename: `${viewport}`,
      71 |       snapshotPath: `${config.basePath}/baseline/${currentCase.folder}`,
      72 |       diffPath: `${config.testSnaps}/${currentCase.folder}`

      at runDiffImageToSnapshot (node_mod

[2020-07-01 20:44] omnisip commented on #210
Yes. Very helpful.

There's an option to run jest image snapshot in process.

Can you add runInProcess: true as soon of the options you pass
toMatchSnapshot, and paste the next stack trace here as well?

On Wed, Jul 1, 2020, 00:33 Lukas Oppermann <notifications@github.com> wrote:

[2020-07-02 02:47] patrickhulce commented on #59
@anescobar1991 @JamesSingleton any maintainer willing to chime in if https://github.com/americanexpress/jest-image-snapshot/issues/59#issuecomment-625577612 would be acceptable to add here? :)

[2020-07-02 04:05] JamesSingleton commented on #59
@patrickhulce not sure what @anescobar1991 thinks, but I think the best course of action would be to open a PR to start the discussion.

[2020-07-02 15:01] patrickhulce commented on #59
@JamesSingleton done https://github.com/americanexpress/jest-image-snapshot/pull/222

[2020-07-03 08:09] lukasoppermann commented on #210
Hey @omnisip, running with  `runInProcess: true` takes a loooot longer but does not actually produce this error (and thus no stack trace).

Does that make sense?

[2020-07-03 14:14] omnisip commented on #210
Hmm...

On Fri, Jul 3, 2020, 02:09 Lukas Oppermann <notifications@github.com> wrote:

[2020-07-09 20:08] omnisip opened #224 "Dynamic support for multiple libraries and multiple image formats"
Currently there are several major performance limitations that don't allow for optimal snapshot comparison speed or size. This is shown by a reliance on PNG as an intermediary format and use of Javascript only libraries as dependencies. While being simple and really easy to maintain, it has a side effect of really long test run times and reduced participation by dev team members as the snapshots i

[2020-07-12 00:55] omnisip commented on #210
Yes. I wonder if you're running out of memory in the sub process running jest-image-snapshot.

Try rerunning with the original settings but cut the jest concurrency to half or a quarter of what it currently is.

[2020-07-12 12:00] lukasoppermann commented on #210
Hey @omnisip could you please tell me how I can reduce concurrency in jest?

[2020-07-16 20:54] omnisip commented on #210
--maxWorkers=50%

On Sun, Jul 12, 2020, 06:01 Lukas Oppermann <notifications@github.com>
wrote:

[2020-07-20 12:00] lukasoppermann commented on #210
Sadly even with `--maxWorkers=10%` I still get the error for some tests.

[2020-07-20 19:06] omnisip commented on #210
And just for grins, can you set --maxConcurrency=1 as well?

On Mon, Jul 20, 2020, 06:01 Lukas Oppermann <notifications@github.com>
wrote:

[2020-07-20 19:09] omnisip commented on #210
We're going to fix this if we can.  I'll submit a patch today if we can get to the bottom of it.

[2020-07-20 19:11] lukasoppermann commented on #210
So even with `--maxConcurrency=1` I get the issue.

[2020-07-20 19:17] omnisip commented on #210
What time is it there? Would you have time for a screenshare in 45 minutes to an hour?

[2020-07-20 19:24] lukasoppermann commented on #210
Sadly not, sorry. It's getting late and I have to get up really early. Is there anything more I can provide as info?

- I am running on a macbook pro 16", 16GB on Mojave.
- latest jest & puppeteer version
- npm@6.14.6

[2020-07-20 19:32] omnisip commented on #210
Yeah. You provided a test case, but it's not integrated into the jest image
snapshot test suite.

Are you able to provide that test as a patch so we can play with it?

On Mon, Jul 20, 2020, 13:25 Lukas Oppermann <notifications@github.com>
wrote:

[2020-07-20 19:40] lukasoppermann commented on #210
What does "as a patch" mean? Do you mean a "PR" to this repo with my test case?

The original is here: https://github.com/lukasoppermann/veare/tree/master/tests/integration

[2020-07-20 20:11] omnisip commented on #210
Yes. A PR would be perfect.

On Mon, Jul 20, 2020, 13:41 Lukas Oppermann <notifications@github.com>
wrote:

[2020-07-20 23:36] bestow-jd opened #226 "Request - Global configuration of options"
Please correct me if this already exists (and point me to how/where), but it would be helpful to have global option configuration.
In our setup, we're using a root folder for our snapshots.
It would be helpful to not have to add this option to _every_ function call and instead set some global options.
Instead of doing this on every call
[code]
It would be nice to do something more along the lines

[2020-07-21 14:27] anescobar1991 commented on #226
This is already possible with the “configureToMatchImageSnapshot” function as seen in the README.

[2020-07-21 14:27] #226 closed

[2020-07-23 10:34] lukasoppermann commented on #210
Hey, sorry it took a moment, but now I got a case showing the error: https://github.com/americanexpress/jest-image-snapshot/pull/227

[2020-07-23 12:25] #201 closed

[2020-07-23 16:03] omnisip commented on #210
Hey Lukas,

Np.  Thanks for submitting this.  Before I do the deep dive, can you answer these questions?

-- Quick Questions/Comments --
1) Is Puppeteer version 5 a hard requirement?
2) Do you usually test against live sites?

I'm curious because Puppeteer 5 might become a breaking change for the library, and we can't keep live sites as part of the standard test suite.  However... using jest-image

[2020-07-23 16:14] omnisip opened #229 "Update README to show how to test against live sites"
Inspired by @lukasopperman 's PR (#227), I think it would be a really good idea to show people we can do this.

Since we're using Puppeteer, we can do anything Chrome can do.  While I don't know if live website testing was the original use case for the library, it could be really useful for anyone who wants to implement external regression testing for different device types and resolutions.

[2020-07-23 16:49] omnisip commented on #229
When I first wrote this, I totally glazed over the fact that the first sample was using a browser -- however -- I'm still interested in hearing feedback on how people are using this.  There are so many fun use cases, why not advertise them?

I'm changing the title of this topic to let people chime in with how they're using jest-image-snapshot.

[2020-07-23 16:54] omnisip commented on #229
How I use it:

jest-image-snapshot + jest-puppeteer-react + storybook (@storybook/react + @storybook/addon-storyshots-puppeteer).

My goal is to have a component driven development lifecycle that allows us to automatically test and screenshot every component at 5 or 6 different resolutions.  This makes it possible to snapshot the smallest elements and test as they build up to the entire page, whil

[2020-07-23 17:46] omnisip commented on #210
This is failing before it finishes writing back to the parent process.  So it's a genuine bug.

Do you mind if we retain a copy of your large image for the purposes of fixing it and adding it as a test case?

[2020-07-23 17:52] omnisip commented on #210
The particular issue is that the output size of the stringified test failure from diff-process is 16205416 bytes which is much larger than the 10MB previously allocated.  I'm going to put together a pull request to do a calculation for output size instead which should resolve this issue.

[2020-07-23 19:07] omnisip commented on #210
@lukasoppermann I've created a pull request with the appropriate fix.  Please test it and see how it works for you.

On a separate but important note, it's currently using snapshots I derived from your test case.  If this is not okay, please let us know, so we can find a suitable replacement image.

[2020-07-23 19:53] Kradirhamik commented on #219
Hi Omnisip

We do not expect a commit.

We are running on TeamCity our tests, so all we need is the results we get from Jest on TeamCity.

If we have a screenshot in the code to be used as baseline, when it compares during test execution, if there is a difference, we get that test to be failed and a screenshot showing the differences between snapshots in the artifacts.

[2020-07-23 20:06] lukasoppermann commented on #210
Hey @omnisip,

to answer your questions:

1. Puppeteer version 5 is NOT a hard requirement
2. Do you usually test against live sites? No, but against a local version of the page.
3. Are you asking about the image generated by the test? This is than a screenshot of theverge, which I have no legal rights to (am not working for, I just used it as a test case). I guess to be on the safe side, you shou

[2020-07-23 20:15] omnisip commented on #219
Hi @Kradirhamik,

Thanks for the response.

The reason I asked was that you've committed code that doesn't have baselines.  So what should the CI's desired behavior be?  Ignore if no pre-existing snapshot -- or fail the test?  It looks like it is failing the test now.

If you make sure you've committed all of the baselines, this issue will go away.

Dan

[2020-07-23 20:16] omnisip commented on #210
You're welcome.  Let's see what we can do about finding a really large PNG
file...

On Thu, Jul 23, 2020 at 8:06 PM Lukas Oppermann <notifications@github.com>
wrote:

[2020-07-23 21:41] jhildenbiddle opened #231 "GitHub + macOS + Node 14: All tests pass but process exits with code 134"
Moved from https://github.com/microsoft/playwright/issues/3090 ~~after determining that the issue can be resolved by setting the `runInProcess` to `true` for `jest-image-snapshot`~~.

**Context:**
- Playwright Version: 1.2.0
- Operating System: macOS
- Node version: 14
- Browser: Webkit
- Extra: Running as GitHub Action using [microsoft/playwright-github-action](https://github.com/microsoft/playwr

[2020-07-23 21:44] jhildenbiddle commented on #210
@omnisip --

Not trying to hijack the thread, but I was working through memory-related issues that appear to be caused by `jest-image-snapshot` and discovered that setting `runInProcess` to `true` (per your advise to @lukasoppermann above) solved the problem. I've filed a separate PR here (#231), but I thought I'd mention it in case the two issues were related.

[2020-07-23 21:45] jhildenbiddle commented on #231
Possibly related: #210

[2020-07-23 22:19] jhildenbiddle commented on #201
Thank you @omnisip for the excellent work.

I tried `comparisonMethod: 'ssim'` this morning and so far I am pleased with the results. Like others, I was running into issues comparing screenshots with different operating system and browser combinations (specifically, using Jest and Playwright to test Chromium, Firefox, and Webkit on macOS, Ubuntu, and Windows). I know that the recommendation from t

[2020-07-23 22:36] omnisip commented on #210
Feel free to try this pull request branch without runInProcess and let me
know.

On Thu, Jul 23, 2020 at 9:45 PM John Hildenbiddle <notifications@github.com>
wrote:

[2020-07-23 22:54] omnisip commented on #201
Can you send me the samples to compare?  Also the diff image you did with
them?  I'd like to see these at 0.01 with both ssim: 'bezkrovny' and ssim:
'fast'.  [Note 'fast' is not faster than bezkrovny, but it is more
accurate.]

On Thu, Jul 23, 2020 at 10:20 PM John Hildenbiddle <notifications@github.com>
wrote:

[2020-07-24 02:53] jhildenbiddle commented on #201
@omnisip --

Happy to.

### Original Snapshots

These snapshots were generated on macOS using playwright's `page.screenshot()` feature.

**macos-chromium**
![macos-chromium-snap](https://user-images.githubusercontent.com/442527/88356059-929d5780-cd34-11ea-95fa-1d9a676883ef.png)

**macos-firefox**
![macos-firefox-snap](https://user-images.githubusercontent.com/442527/88356062-93ce8480-cd34-11ea-903

[2020-07-24 04:19] omnisip commented on #201
Okay cool.

1) Are you using the default ssim choice or 'fast'?

2) Are there any size mismatches and/or do you have allowSizeMismatch
turned on?

3) How are you controlling for different versions of each browser on each
platform?

On Thu, Jul 23, 2020, 20:54 John Hildenbiddle <notifications@github.com>
wrote:

[2020-07-24 05:09] jhildenbiddle commented on #201
Default.

Yes, `allowSizeMismatch` is set to `true`. I believe the width of the Windows screenshots was 1px less than the macOS screenshots they were being compared to which lead to enable this option.

I'm not. I've been operating under the assumption that Playwright uses the same browser version across operating systems based one the browsers/platform matrix shown on the [repo's README.md](https

[2020-07-24 06:31] jhildenbiddle commented on #210
@omnisip -- Tested your branch. At first it seemed like the changes helped, but after a few more runs I'm starting to think there's just general flakiness with macOS CI on GitHub.

Apologies again for jumping into the thread. I was hoping for two birds with one stone, not divert attention away from @lukasoppermann's original issue.

Thx!

[2020-07-24 06:54] omnisip commented on #201
First please try with ssim fast for comparison.

It's definited with an example in the readme. When you're done, send me the
new diffs with it.

If that doesn't work, we probably need to fix the size mismatches. They can
really mess up comparisons across the board even if it's only one pixel.

On Thu, Jul 23, 2020, 23:10 John Hildenbiddle <notifications@github.com>
wrote:

[2020-07-24 15:29] jhildenbiddle commented on #201
Here are the snapshot diff statistics and images:

### Configuration

[code]

Regarding `allowSizeMismatch`, this is required only for our Windows screenshots which for some reason have a width 1px less than the reference screenshots. I'm less worried about this at the moment because the Windows diff statistics show either a low percentage difference (chromium-diff = 1.7%, firefox-diff = 2.7%) or

[2020-07-24 16:21] jhildenbiddle commented on #201
Adding one more diff that may be useful. Specifically, these are small snapshots taken using the same browser (Webkit) on different platforms (macOS & Windows) that result in a high diff percentage. This is easily addressed by increasing the `failureThreshold` value to any value greater than the diff percentage (e.g. `0.16`) but then test accuracy is lost.

**macOS Webkit Snapshot**

![macos-webki

[2020-07-24 16:29] omnisip commented on #201
If what I saw in the larger images is also happening to these small ones,
the tests are properly failing.

Wait until I get back to my desk and I'll show you want I mean.

On Fri, Jul 24, 2020, 10:21 John Hildenbiddle <notifications@github.com>
wrote:

[2020-07-24 17:50] jhildenbiddle commented on #201
Sounds good. Thanks, @omnisip.

FWIW, switching to the following pixel-based comparison settings allows the smaller "Docsify Test" image comparison to pass:

[code]

I can twiddle the knobs on both pixel- and ssim- based comparisons to get tests to pass (knowing that doing so is less ideal than testing on a single OS using a docker container). The challenge for me is understanding which comparison

[2020-07-24 18:01] omnisip commented on #201
See below:

[image: image.png]

If you look closely, those aren't exactly minor structural differences.
Look how far off the 's's are in both words and the offset in the T.

However, what you're doing isn't wrong.  You're trying to determine how
close one platform's version of a screen is to another -- so the algorithm
may not be tuned properly for this comparison.

If you're willing to experiment

[2020-07-24 18:54] omnisip commented on #201
Picture reupload for viewers / commenters --

![image](https://user-images.githubusercontent.com/305190/88425538-101da200-cddf-11ea-9d0b-99d2ae200433.png)

[2020-07-25 12:20] jhildenbiddle commented on #201
Thank you for the excellent feedback, @omnisip. SSIM's `window` option looks interesting, so I'll continue to experiment.

Definitely learned a few new things along the way, so thank you for your time and effort. Very much appreciated.

[2020-07-27 13:44] jhildenbiddle commented on #231
Resolved.

Issue was related to the use of [live-server](https://github.com/tapio/live-server) which is using an outdated version of [chokidar](https://github.com/paulmillr/chokidar) (v2). Due to the infrequent updates of live-server, we made the switch to [browser-sync](https://www.browsersync.io/) and now all tests pass without issue.

[2020-07-27 13:44] #231 closed

[2020-08-05 00:05] l-abels commented on #201
I saw a significant increase in failures with SSIM.  Images that previously beat a threshold of 0.08 are now in the 0.15-0.25 range.  I'll try increasing the window size before I increase the threshold to 3%.  I'd be pretty worried about false negatives at that level.

[2020-08-05 00:07] anescobar1991 commented on #201
Yeah that's pretty high. Want to join https://one-amex.slack.com/ to discuss more?

[2020-08-05 08:40] omnisip commented on #201
Can you send us before, after, and diff?

On Tue, Aug 4, 2020, 18:05 l-abels <notifications@github.com> wrote:

[2020-08-09 00:33] omnisip commented on #224
In progress

On Sat, Aug 8, 2020, 18:15 github-actions[bot] <notifications@github.com>
wrote:

[2020-08-20 17:48] omnisip opened #232 "Remove the use of Math.round() in the SSIM diff generation function"
Part 1 of 2 issues that are big performance improvements for the library.

Recently, I built a new implementation of SSIM and had it incorporated into SSIM.js (weberSsim).  During testing and implementation, I found that the use of Math.round and Math.pow (also seen as the operator** in ES6) had horrible performance times.  It was so bad that I found that I could increase performance by 66% and, i

[2020-08-20 18:09] omnisip opened #233 "Update the version of the SSIM library and provide notes about alternative SSIM implementations"
Part 2 of the big performance improvements for jest-image-snapshot's implementation of SSIM.

In the latest release of SSIM (4.2.0) we made some major improvements to the implementation that increased performance drastically.  The first is the rounding issue (#232) which was affecting how it did the conversion to grayscale.  The second was the implementation of a new SSIM algorithm ('weber').  It'

[2020-08-21 07:43] nedtwigg opened #234 "Write image diff to disk even if test passed"
I have been forced to set my image diff threshold pretty high:

[code]

The thing I'm snapshotting is text rendered by puppeteer.  The snapshots are created on mac, but CI runs on linux.  Small changes in font rendering (especially font width) add up across the width of the image.  I tried `ssim` and its various modes, but they required me to set threshold even higher, 20-40%.

As a result of the

[2020-08-21 07:53] omnisip commented on #234
You're testing apples and oranges. At the very least, if I were you I'd set
up a docker container on your Mac for the snapshot generation. That's
really your best bet is it you want these snapshots to be meaningful.

We'll review the request though to see if it's a worthwhile feature though.

On Fri, Aug 21, 2020, 01:43 Ned Twigg <notifications@github.com> wrote:

[2020-08-26 17:43] merlinpatt commented on #99
Has this update been made? I too would like to have the option to use `50%` instead of `0.5`

[2020-09-09 19:04] omnisip commented on #224
I'm nearly complete on a portable / self-contained SSIM library that is significantly faster than the current one (no SIMD ops).  However, I'm being bottlenecked on the operations for conversion to grayscale and resampling.  With this in mind, I've been investigating using WebAssembly for some of the SIMD ops.  

With libraries like https://github.com/GoogleChromeLabs/wasm-feature-detect -- I shou

[2020-09-11 17:07] sergeyt opened #235 "Consider extracting diffImageToSnapshot to separate package"
I've made a quick extraction in [this fork](https://github.com/sergeyt/image-diff) with additional customization to pass `baselineImageBuffer` to allow passing baseline image generated in-memory (for example, it can happen when comparing two similar sites but using different versions of JS libraries).

[2020-09-13 18:12] anescobar1991 commented on #235
I think for the time being we want to keep the surface area small and easy to maintain so don't see this happening.

[2020-09-13 18:12] #235 closed

[2020-09-13 18:16] anescobar1991 commented on #224
To be honest I am not sure that is a good idea. We might be trying to solve for an issue that is not faced by too many people at the expense of future code maintenance.

I'd prefer to keep this package simple for now especially given that so far SSIM has not given the results we thought it would.

[2020-09-13 18:16] #224 closed

[2020-09-13 18:17] #219 closed

[2020-09-13 18:17] #59 closed

[2020-09-13 19:22] omnisip commented on #224
You'll change your mind on that when you see the new performance numbers.
:-)

On Sun, Sep 13, 2020, 12:16 Andres Escobar <notifications@github.com> wrote:

[2020-09-15 16:45] swallacealtimetrik opened #238 "Return snapshot URL to Reporter"
Maybe I didn't find it on "**results**" in "**onRunComplete**" method, but seems like it just have the url of diff images but not the snapshot url. Would be great to have that information on the results data, so we can share the link to the snapshot image also when the tests passed, so it brings more information about what part was tested than just a string name.

[2020-10-09 12:56] lukasoppermann opened #241 "Image tiling"
Hey,
I am having an issue where when screenshots of long pages are created, they are cut off and tile at the bottom.

![tablet-snap](https://user-images.githubusercontent.com/813754/95585446-87a6b900-0a3f-11eb-81e1-f543c08b32ff.png)
 vs the live page: https://vea.re/work/copra

Am I doing something wrong? Can I provide more info to help solve this?

[2020-10-09 15:02] anescobar1991 commented on #241
I would image that is an issue with whatever you are using to take the screenshot and not with jest image snapshot. Can you validate that before the image gets to jest image snapshot it is still "complete"?

[2020-10-09 16:01] omnisip commented on #241
Ditto @aescobar's comments. It sounds like puppeteer or whatever you're
using isn't being consistent with you. :-(

On Fri, Oct 9, 2020, 09:02 Andres Escobar <notifications@github.com> wrote:

[2020-10-15 16:41] merlinpatt opened #242 "Choose Orientation of Diff Image?"
Is there any way to change how the images in the diff are composed and oriented?

I have cases where I am taking very wide but short images, which are then put together side by side. For example, I have 400px wide by 40px high snapshot, which when diffed, creates a 1200px wide by 40px high snapshot. This makes it very difficult to compare the images and see the difference.

I would prefer to have

[2020-10-15 16:47] anescobar1991 commented on #242
Yes! Per the readme you can pass the option:
[code]

[2020-10-15 16:47] #242 closed

[2020-10-23 04:40] merlinpatt opened #243 "Total snapshots not matching the number of tests"
Admittedly, this may be an old bug since I'm running v2.11.1 (we're working on updating but it's a process) but in case it's not old,.I thought I would post here anyway.

When running jest, I'm seeing a mismatch in the snapshot counter. This seems to happen any time I have failing snapshot tests. Based on my various test runs, I believe it is using total test count as pass count.

[code]

On the s

[2020-10-23 13:30] merlinpatt commented on #243
Brief update: I couldn't sleep last night, so I ended up upgrading jest-image-snapshot to 4.2.0 and I'm still seeing the same bug.

[2020-11-23 14:39] merlinpatt commented on #243
Keep open

[2020-12-15 16:26] DiegoFBenavides opened #248 "[Question] Problems with firefox & webkit"
Hi everyone!

I´m using playwright+jest to do some E2E tests and I´m trying to include some screenshots. it´s ok for chromium but in firefox&webkit the screenshot is taken when the pagehas not had enough time to load and some object isn´t appear.

How do you think that can be solved?

Regards

[2020-12-18 06:54] bboydflo commented on #210
I recently came accross this project: https://github.com/dmtrKovalenko/odiff which could help with image diff. from what I understand odiff is much muster than other similar libraries, including the one used in this project.

It would be nice to expose an option to experimentally try odiff. What do you think?

[2020-12-24 03:21] merlinpatt commented on #243
Keep

[2021-01-05 18:53] AnkitKSinha commented on #248
Hi @DiegoFBenavides, are you waiting on a selector before you take the screenshot? You could wait for the elements to appear before you take a screenshot to make sure that you're taking screenshot of the final rendered view.

[2021-01-24 02:19] merlinpatt commented on #243
@jihchi can you or someone else take a look at this please?

[2021-01-30 16:01] Quintessent opened #251 "Integrate odiff with image snapshot"
I am working on a program where we need to run a huge amount of visual tests for big images (full-hd and bigger) and image comparison takes too much time on CI.

Is it possible to use some kind of more performant library like this https://github.com/dmtrKovalenko/odiff with your tool?